# LCM Miner tool

In [2]:
import pandas as pd 
import numpy as np
from datetime import date,datetime
import csv
import re
from multiprocessing import Pool
from functools import partial
from sklearn import preprocessing
from IPython.core import display as ICD

### 1. Une fonction qui prend les arguments suivants:
jeu de données (contenant timestamp)
fréquence de temps choisie (année, mois, jour) et qui retourne le jeu de données partitionné selon la granularité temporelle sous la forme de plusieurs fichiers, un par couple (partition, période de temps)

In [3]:
def split_dataset(input_file,frequency,dataset_filter):
    """Split initial dataset to multiple files according to frequency
    
    Yields
    ------
    str
        names of partitions files
    """
    df = pd.read_csv(input_file)
    df.query(dataset_filter,inplace=True)
    df["timestamp"] = pd.to_datetime(df["timestamp"],unit="s").dt.to_period(frequency)
    df.set_index(["timestamp"],inplace=True)
    df.movieId = df.movieId.astype(str)
    
    for period,period_df in df.groupby(pd.Grouper(freq = frequency)):
        output = period_df.groupby("userId").movieId.apply(lambda x: " ".join(x)).to_frame().reset_index()
        output.movieId = output.userId.astype(str)+" "+ output.movieId
        output.drop(["userId"],inplace=True,axis=1)
        output.to_csv(str(period),header=None,index=None)
        output.movieId.apply(lambda x: x.split(" ")[0]).to_frame().astype(str).to_csv("permut"+str(period),header=None,index=False)        
        yield period

### 2. Une fonction qui prend les arguments suivants:
- un couple (partition, période de temps)
- la valeur du support
<br>Cette fonction fait appel à pmr.pylcm et retourne des groupes fréquents selon leur support
Group description:[set of items] (support) Group content:[set of users]

In [4]:
def format_output(results,period):
    """Format lcm output to:
    Group description:[set of items] (support) Group content:[Sorted set of users] 
    """
    item_sets,supports,groups,periods = [],[],[],[]
    for i,j in zip(results[3::2],results[4::2]):
        if '(' not in i:
            break
        *items,support = re.findall("([0-9]+)+",i)
        items = ','.join(e for e in items)
        group = j[1:]
        item_sets.append(items)
        supports.append(support)
        periods.append(period)
        groups.append(group)
    return item_sets,supports,groups,periods

def run_lcm(input_file=None,support=None,groups_size=[5,100],output=""):
    """ Runs LCM  and return the  result formated with format_output"""
    
    result = !./lcm CfI -l {groups_size[0]} -u {groups_size[1]} {str(input_file)} {support} {str(input_file)+output}
    if "there is no frequent item" in str(result):
        print("No itemset",input_file)
        return ''
    return str(input_file)+output

### 3. Une fonction qui prend en argument:
Group description:[set of items] (support) Group content:[set of users]
et qui retourne pour chaque user, l’ensemble des groupes auxquels il appartient sous la forme:
(user_id, group_id, période de temps)

In [5]:
def users_groups(df,output="result.csv"):
    # split each user from the group to a new line : [[user_id,group,period],]
    res = pd.DataFrame(df.users_ids.str.split(",").tolist(),index=[df.period,df.group]).stack()
    res = res.reset_index([0,"group","period"])
    res.columns = ["period","group_id","user_id"]
    res = res[['user_id','group_id','period']]
    return res

### Mining function

In [6]:
def singlethread_lcm(input_file='data/ml-latest-small/ratings.csv',frequency="Y",support=20 ):
    """ Run LCM with a single thread and output the result to output file
    Output structure :
        user_id,group_id,period
    """
    output = []
    for partition in split_dataset(input_file,frequency):
        # run LCM and get the items, supports and groups of each frequent itemset found 
        item_sets,supports,groups = run_lcm(partition,frequency,support)
        # get the affectation of each user from the frequence itemsets groups 
        users_affectation = users_groups(groups=groups,period=str(partition))
        output+=users_affectation
    return output

def multithread_lcm(input_file,frequency,support,groups_size,dataset_filter):
    f = partial(run_lcm,support=support,groups_size=groups_size)
    p = Pool(8)
    res  = p.map(f,split_dataset(input_file,frequency,dataset_filter))
    p.close()
    p.join()
    return res

def permut(x,data):
    output= ""
    for i in x.split(' '):
        if i is "":
            continue
        output+= str(data[0][int(i)])+' '
    return output
outputs = []



def form_group(x,permutations):
    output = ''
    for i in x.split(" "):
        if i is not "":
            output+=str(permutations[0][int(i)])+","     
    return output[:-1]

def combine_outputs(files_names):
    """
    Output : Dataframe,Dataframe
        content of files in files_names in one dataframe
        content of permutations files associated in one dataframe 
    """
    combined_csv = pd.DataFrame()
    permutations = pd.DataFrame()

    for i in files_names:
        permut_file = "permut"+str(i)
        try:# when l is too small even if lcm find results, file is created by empty
            df = pd.read_csv(i,header=None)
        except:
            continue
        df["period"] = i 
        combined_csv= pd.concat([combined_csv,df])
        df = pd.read_csv(permut_file ,header=None)
        df["period"] = i 
        permutations= pd.concat([permutations,df])
    return combined_csv,permutations

def reformat_output(output):
    """This function reformat outputs of lcm :
    From multiple files having structure : (support, itemsets) in peer rows and (#trasaction, period)in odd rows 
    each file  is associated with a permutation file  ('permut'+file_name) in which there is (#trasaction,user_id)
    1- concatenate all output to one dataframe "df" , and all permutations to one dataframe "permutations"
    2- reformat df structure to (itemset,support,#transactions,period)
    3- replace each #transaction with it's user_id
    Input :
        [files_names] 
    Output: Dataframe:
        itemset,support,users_ids
    """
    df,permutations = combine_outputs(output)
    df.reset_index(drop=True,inplace=True)
    # join odd and pair rows to same row
    a = df[0][0::2].reset_index()+df[0][1::2].reset_index()
    # split row to three columns :(itemsets,support,users_ids)
    a = a[0].str.split("(\([0-9]+\))",expand=True).replace(['\(','\)']," ",regex=True)
    
    df = pd.concat([df["period"][0::2].reset_index(drop=True),a],axis=1)
    df.columns=["period","itemset","support","users_ids"]
    
    for (period,i) in df.groupby("period"):
        df["users_ids"][i.index]= i["users_ids"].apply(lambda x:form_group(x,permutations[permutations.period==period]))
    return df 
def encode_groups(df):
    """Label encoding from column users_ids in dataframe input"""
    le = preprocessing.LabelEncoder()
    df["group"]= le.fit_transform(df["users_ids"])

# Run the code

### LCM minning in multithread 
#### Output : file name  of each period having results

In [7]:
input_file = "ratings.csv"
frequency = "M" # [num| ][D|M|Y] ex Y,M, 2M,  
support = 2
groups_size = [2,100]
dataset_filter = "rating>3"
output_file = f'{frequency}-{support}-[{groups_size[0]}-{groups_size[1]}]-{dataset_filter}-groups.dat'
def linear_closed_itemset_miner(input_file,frequency,support,groups_size,output_file,dataset_filter):
    output = multithread_lcm(input_file,frequency,support,groups_size,dataset_filter)
    output = [i for i in  output if i is not ""]
    df = reformat_output(output)
    encode_groups(df)
    !rm permut*
    !rm 1*
    !rm 2*
    users_groups(df).to_csv(output_file)
    return df
# df = linear_closed_itemset_miner(input_file,frequency,support,groups_size,output_file,dataset_filter)
# df.group.value_counts().to_frame().head()

'M-2-[2-100]-groups.dat' =>

In [10]:
for frequency in ["Y","6M","3M","2M","M"]:
    for support in [2 ,5 ,10, 15, 20, 30, 50 ]:
        for groups in [[2,5],[2,10],[2,20],[20,50]]:
            for dataset_filter in ["rating>3","rating>4","rating<3","rating<2","2<rating<4","rating==5"]:
                output_file = f'{frequency}-{support}-[{groups_size[0]}-{groups_size[1]}]-{dataset_filter}-groups.dat'
                try:
                    df = linear_closed_itemset_miner(input_file,frequency,support,groups,output_file,dataset_filter)
                    print(output_file)
                    ICD.display(df.group.value_counts().to_frame().head())
                except Exception as e:
                    print(input_file,frequency,support,groups_size,output_file,dataset_filter)
                    print(e)

Y-2-[2-100]-rating>3-groups.dat

       group
27979      5
51041      4
51080      4
21832      4
51032      3

Y-2-[2-100]-rating>4-groups.dat

      group
5594      3
3310      2
2522      2
380       2
2169      2

Y-2-[2-100]-rating<3-groups.dat

     group
797      4
798      4
560      3
238      2
431      2

No itemset 2013
Y-2-[2-100]-rating<2-groups.dat

     group
105      1
26       1
28       1
29       1
30       1

KeyboardInterrupt:

In [46]:
files = !ls *.dat
for i in files:
    ICD.display(pd.read_csv(i).groupby[""])

    Unnamed: 0  user_id  group_id   period
0            0      102         0  1996-08
1            1      170         0  1996-08
2            2      176         0  1996-08
3            3      179         0  1996-08
4            4      229         0  1996-08
5            5      235         0  1996-08
6            6      385         0  1996-08
7            7      394         0  1996-08
8            8      498         0  1996-08
9            9      541         0  1996-08
10          10      574         0  1996-08
11          11      584         0  1996-08
12          12      592         0  1996-08
13          13       56         3  1996-08
14          14      102         3  1996-08
15          15      142         3  1996-08
16          16      229         3  1996-08
17          17      235         3  1996-08
18          18      411         3  1996-08
19          19      455         3  1996-08
20          20      498         3  1996-08
21          21      541         3  1996-08
22          22      592         3  1996-08
23          23       56         4  1996-08
24          24      102         4  1996-08
25          25      142         4  1996-08
26          26      229         4  1996-08
27          27      404         4  1996-08
28          28      411         4  1996-08
29          29      455         4  1996-08
..         ...      ...       ...      ...
68          68       58         7  1996-11
69          69      117         7  1996-11
70          70      126         7  1996-11
71          71      347         7  1996-11
72          72      373         7  1996-11
73          73      374         7  1996-11
74          74      470         7  1996-11
75          75      559         7  1996-11
76          76      609         7  1996-11
77          77       94         8  1996-11
78          78      117         8  1996-11
79          79      121         8  1996-11
80          80      126         8  1996-11
81          81      240         8  1996-11
82          82      347         8  1996-11
83          83      373         8  1996-11
84          84      374         8  1996-11
85          85      379         8  1996-11
86          86      470         8  1996-11
87          87      609         8  1996-11
88          88       58         5  1996-11
89          89      117         5  1996-11
90          90      121         5  1996-11
91          91      133         5  1996-11
92          92      240         5  1996-11
93          93      347         5  1996-11
94          94      446         5  1996-11
95          95      470         5  1996-11
96          96      559         5  1996-11
97          97      609         5  1996-11

[98 rows x 4 columns]

      Unnamed: 0  user_id  group_id   period
0              0       56       199  1996-08
1              1      102       199  1996-08
2              2      109       199  1996-08
3              3      142       199  1996-08
4              4      179       199  1996-08
5              5      229       199  1996-08
6              6      235       199  1996-08
7              7      385       199  1996-08
8              8      394       199  1996-08
9              9      404       199  1996-08
10            10      411       199  1996-08
11            11      447       199  1996-08
12            12      455       199  1996-08
13            13      476       199  1996-08
14            14      485       199  1996-08
15            15      486       199  1996-08
16            16      498       199  1996-08
17            17      507       199  1996-08
18            18      512       199  1996-08
19            19      541       199  1996-08
20            20      584       199  1996-08
21            21      592       199  1996-08
22            22       56       203  1996-08
23            23      102       203  1996-08
24            24      109       203  1996-08
25            25      162       203  1996-08
26            26      170       203  1996-08
27            27      179       203  1996-08
28            28      229       203  1996-08
29            29      235       203  1996-08
...          ...      ...       ...      ...
6006        6006        6       393  1996-11
6007        6007       43       393  1996-11
6008        6008       58       393  1996-11
6009        6009      117       393  1996-11
6010        6010      174       393  1996-11
6011        6011      181       393  1996-11
6012        6012      347       393  1996-11
6013        6013      458       393  1996-11
6014        6014      470       393  1996-11
6015        6015      530       393  1996-11
6016        6016       63       420  2015-11
6017        6017      105       420  2015-11
6018        6018      112       420  2015-11
6019        6019      123       420  2015-11
6020        6020      233       420  2015-11
6021        6021      298       420  2015-11
6022        6022      366       420  2015-11
6023        6023      378       420  2015-11
6024        6024      581       420  2015-11
6025        6025      601       420  2015-11
6026        6026       63       421  2015-11
6027        6027      105       421  2015-11
6028        6028      123       421  2015-11
6029        6029      227       421  2015-11
6030        6030      233       421  2015-11
6031        6031      298       421  2015-11
6032        6032      366       421  2015-11
6033        6033      378       421  2015-11
6034        6034      581       421  2015-11
6035        6035      601       421  2015-11

[6036 rows x 4 columns]

    Unnamed: 0  user_id  group_id   period
0            0       38         0  1996-08
1            1      109         0  1996-08
2            2      176         0  1996-08
3            3      179         0  1996-08
4            4      229         0  1996-08
5            5      447         0  1996-08
6            6      486         0  1996-08
7            7      498         0  1996-08
8            8      512         0  1996-08
9            9      574         0  1996-08
10          10      588         0  1996-08
11          11      602         0  1996-08
12          12       38         1  1996-08
13          13       46         1  1996-08
14          14      176         1  1996-08
15          15      229         1  1996-08
16          16      486         1  1996-08
17          17      498         1  1996-08
18          18      512         1  1996-08
19          19      541         1  1996-08
20          20      588         1  1996-08
21          21      592         1  1996-08
22          22      602         1  1996-08

    Unnamed: 0  user_id  group_id   period
0            0       38         0  1996-08
1            1      109         0  1996-08
2            2      176         0  1996-08
3            3      179         0  1996-08
4            4      229         0  1996-08
5            5      447         0  1996-08
6            6      486         0  1996-08
7            7      498         0  1996-08
8            8      512         0  1996-08
9            9      574         0  1996-08
10          10      588         0  1996-08
11          11      602         0  1996-08
12          12       38         1  1996-08
13          13       46         1  1996-08
14          14      176         1  1996-08
15          15      229         1  1996-08
16          16      486         1  1996-08
17          17      498         1  1996-08
18          18      512         1  1996-08
19          19      541         1  1996-08
20          20      588         1  1996-08
21          21      592         1  1996-08
22          22      602         1  1996-08

      Unnamed: 0  user_id  group_id   period
0              0       56        29  1996-08
1              1      102        29  1996-08
2              2      109        29  1996-08
3              3      142        29  1996-08
4              4      179        29  1996-08
5              5      229        29  1996-08
6              6      235        29  1996-08
7              7      385        29  1996-08
8              8      394        29  1996-08
9              9      404        29  1996-08
10            10      411        29  1996-08
11            11      447        29  1996-08
12            12      455        29  1996-08
13            13      476        29  1996-08
14            14      485        29  1996-08
15            15      486        29  1996-08
16            16      498        29  1996-08
17            17      507        29  1996-08
18            18      512        29  1996-08
19            19      541        29  1996-08
20            20      584        29  1996-08
21            21      592        29  1996-08
22            22       56        31  1996-08
23            23      102        31  1996-08
24            24      109        31  1996-08
25            25      162        31  1996-08
26            26      170        31  1996-08
27            27      179        31  1996-08
28            28      229        31  1996-08
29            29      235        31  1996-08
...          ...      ...       ...      ...
1045        1045        5        27  1996-11
1046        1046        6        27  1996-11
1047        1047       37        27  1996-11
1048        1048       43        27  1996-11
1049        1049       94        27  1996-11
1050        1050      117        27  1996-11
1051        1051      126        27  1996-11
1052        1052      174        27  1996-11
1053        1053      340        27  1996-11
1054        1054      379        27  1996-11
1055        1055      470        27  1996-11
1056        1056      530        27  1996-11
1057        1057      565        27  1996-11
1058        1058      566        27  1996-11
1059        1059      609        27  1996-11
1060        1060        6        47  1996-11
1061        1061       37        47  1996-11
1062        1062       43        47  1996-11
1063        1063       58        47  1996-11
1064        1064      117        47  1996-11
1065        1065      121        47  1996-11
1066        1066      126        47  1996-11
1067        1067      133        47  1996-11
1068        1068      373        47  1996-11
1069        1069      374        47  1996-11
1070        1070      470        47  1996-11
1071        1071      559        47  1996-11
1072        1072      565        47  1996-11
1073        1073      566        47  1996-11
1074        1074      609        47  1996-11

[1075 rows x 4 columns]

     Unnamed: 0  user_id  group_id   period
0             0       56         6  1996-08
1             1      102         6  1996-08
2             2      109         6  1996-08
3             3      142         6  1996-08
4             4      179         6  1996-08
5             5      229         6  1996-08
6             6      235         6  1996-08
7             7      385         6  1996-08
8             8      394         6  1996-08
9             9      404         6  1996-08
10           10      411         6  1996-08
11           11      447         6  1996-08
12           12      455         6  1996-08
13           13      476         6  1996-08
14           14      485         6  1996-08
15           15      486         6  1996-08
16           16      498         6  1996-08
17           17      507         6  1996-08
18           18      512         6  1996-08
19           19      541         6  1996-08
20           20      584         6  1996-08
21           21      592         6  1996-08
22           22       56         7  1996-08
23           23      102         7  1996-08
24           24      109         7  1996-08
25           25      162         7  1996-08
26           26      170         7  1996-08
27           27      179         7  1996-08
28           28      229         7  1996-08
29           29      235         7  1996-08
..          ...      ...       ...      ...
163         163      447         4  1996-08
164         164      455         4  1996-08
165         165      486         4  1996-08
166         166      498         4  1996-08
167         167      512         4  1996-08
168         168      541         4  1996-08
169         169      574         4  1996-08
170         170      588         4  1996-08
171         171      592         4  1996-08
172         172      602         4  1996-08
173         173       14         0  1996-08
174         174       46         0  1996-08
175         175       56         0  1996-08
176         176      109         0  1996-08
177         177      170         0  1996-08
178         178      176         0  1996-08
179         179      179         0  1996-08
180         180      229         0  1996-08
181         181      235         0  1996-08
182         182      404         0  1996-08
183         183      411         0  1996-08
184         184      447         0  1996-08
185         185      455         0  1996-08
186         186      512         0  1996-08
187         187      541         0  1996-08
188         188      574         0  1996-08
189         189      584         0  1996-08
190         190      588         0  1996-08
191         191      592         0  1996-08
192         192      602         0  1996-08

[193 rows x 4 columns]

       Unnamed: 0  user_id  group_id   period
0               0       40      2980  1996-05
1               1      107      2980  1996-05
2               2      130      2980  1996-05
3               3      145      2980  1996-05
4               4       40      2983  1996-05
5               5      107      2983  1996-05
6               6      136      2983  1996-05
7               7      145      2983  1996-05
8               8      353      2983  1996-05
9               9      468      2983  1996-05
10             10       40      2988  1996-05
11             11      107      2988  1996-05
12             12      145      2988  1996-05
13             13      284      2988  1996-05
14             14      604      2988  1996-05
15             15       40      2987  1996-05
16             16      107      2987  1996-05
17             17      145      2987  1996-05
18             18      107       245  1996-05
19             19      130       245  1996-05
20             20      136       245  1996-05
21             21      145       245  1996-05
22             22      468       245  1996-05
23             23      107       247  1996-05
24             24      130       247  1996-05
25             25      145       247  1996-05
26             26      429       247  1996-05
27             27      604       247  1996-05
28             28      107       246  1996-05
29             29      130       246  1996-05
...           ...      ...       ...      ...
14515       14515      272      2095  2018-08
14516       14516      596      2095  2018-08
14517       14517      305      2214  2018-08
14518       14518      514      2214  2018-08
14519       14519      338      2456  2018-08
14520       14520      596      2456  2018-08
14521       14521      233      1792  2018-08
14522       14522      248      1792  2018-08
14523       14523      233      1801  2018-08
14524       14524      596      1801  2018-08
14525       14525      362      2556  2018-08
14526       14526      596      2556  2018-08
14527       14527      586      3909  2018-08
14528       14528      596      3909  2018-08
14529       14529      233      1793  2018-08
14530       14530      272      1793  2018-08
14531       14531      248      1950  2018-08
14532       14532      596      1950  2018-08
14533       14533       98      4594  2018-08
14534       14534      233      4594  2018-08
14535       14535      514      3563  2018-08
14536       14536      596      3563  2018-08
14537       14537      233      1796  2018-08
14538       14538      305      1796  2018-08
14539       14539      248      1949  2018-08
14540       14540      586      1949  2018-08
14541       14541       98      4596  2018-08
14542       14542      596      4596  2018-08
14543       14543      184      1546  2018-11
14544       14544      331      1546  2018-11

[14545 rows x 4 columns]

    Unnamed: 0  user_id  group_id   period
0            0      136         1  1996-06
1            1      584         1  1996-06
2            2      136         0  1996-06
3            3      314         0  1996-06
4            4       38        23  1996-09
5            5      485        23  1996-09
6            6      386        26  1996-09
7            7      588        26  1996-09
8            8       81        37  1996-12
9            9      126        37  1996-12
10          10       81        38  1996-12
11          11      373        38  1996-12
12          12      181         6  1996-12
13          13      373         6  1996-12
14          14       19         8  2000-09
15          15      469         8  2000-09
16          16       19        10  2000-09
17          17      571        10  2000-09
18          18      294        20  2000-09
19          19      603        20  2000-09
20          20       19         9  2000-09
21          21       57         9  2000-09
22          22       19         7  2000-09
23          23      294         7  2000-09
24          24      294        19  2000-09
25          25      469        19  2000-09
26          26      294        18  2000-09
27          27      333        18  2000-09
28          28       57        30  2000-09
29          29      294        30  2000-09
..         ...      ...       ...      ...
50          50      488        28  2005-06
51          51      608        28  2005-06
52          52       91        39  2005-06
53          53      608        39  2005-06
54          54       68        32  2006-09
55          55      132        32  2006-09
56          56       68        35  2006-09
57          57      370        35  2006-09
58          58       68        34  2006-09
59          59      167        34  2006-09
60          60      274        12  2007-03
61          61      580        12  2007-03
62          62       28        13  2009-03
63          63       51        13  2009-03
64          64       51        29  2009-03
65          65      600        29  2009-03
66          66      139         2  2016-03
67          67      495         2  2016-03
68          68      365        22  2017-03
69          69      517        22  2017-03
70          70      599        31  2017-06
71          71      610        31  2017-06
72          72       47        27  2017-06
73          73      328        27  2017-06
74          74      382        24  2018-03
75          75      599        24  2018-03
76          76       68        33  2018-06
77          77      153        33  2018-06
78          78      153         3  2018-06
79          79      567         3  2018-06

[80 rows x 4 columns]

     Unnamed: 0  user_id  group_id   period
0             0       99       412  1996-05
1             1      436       412  1996-05
2             2      136        20  1996-05
3             3      145        20  1996-05
4             4      436        20  1996-05
5             5      136        23  1996-05
6             6      436        23  1996-05
7             7      136        24  1996-05
8             8      604        24  1996-05
9             9       99       408  1996-05
10           10      136       408  1996-05
11           11       99       411  1996-05
12           12      353       411  1996-05
13           13      429       411  1996-05
14           14      191        84  1996-05
15           15      353        84  1996-05
16           16      191        85  1996-05
17           17      468        85  1996-05
18           18      136        21  1996-05
19           19      191        21  1996-05
20           20       99       409  1996-05
21           21      191       409  1996-05
22           22      353       205  1996-05
23           23      436       205  1996-05
24           24       99       410  1996-05
25           25      353       410  1996-05
26           26      136        22  1996-05
27           27      353        22  1996-05
28           28      235       121  1996-08
29           29      314       121  1996-08
..          ...      ...       ...      ...
883         883      111       296  2018-02
884         884       89       376  2018-05
885         885      153       376  2018-05
886         886      567       376  2018-05
887         887      153        33  2018-05
888         888      329        33  2018-05
889         889      329       196  2018-05
890         890      567       196  2018-05
891         891       89       377  2018-05
892         892      329       377  2018-05
893         893       50       300  2018-05
894         894       89       300  2018-05
895         895       89       375  2018-05
896         896      153       375  2018-05
897         897       89       378  2018-05
898         898      567       378  2018-05
899         899       68       350  2018-05
900         900      153       350  2018-05
901         901       50       298  2018-05
902         902      153       298  2018-05
903         903       62       341  2018-05
904         904      567       341  2018-05
905         905       50       299  2018-05
906         906      567       299  2018-05
907         907      212       102  2018-05
908         908      567       102  2018-05
909         909      153        34  2018-05
910         910      567        34  2018-05
911         911      248       126  2018-08
912         912      338       126  2018-08

[913 rows x 4 columns]

       Unnamed: 0  user_id  group_id   period
0               0       40      8399  1996-05
1               1      130      8399  1996-05
2               2      134      8399  1996-05
3               3      284      8399  1996-05
4               4      444      8399  1996-05
5               5       40      8380  1996-05
6               6      107      8380  1996-05
7               7      130      8380  1996-05
8               8      468      8380  1996-05
9               9      536      8380  1996-05
10             10       40      8465  1996-05
11             11       99      8465  1996-05
12             12      130      8465  1996-05
13             13      191      8465  1996-05
14             14      284      8465  1996-05
15             15      353      8465  1996-05
16             16       40      8379  1996-05
17             17      107      8379  1996-05
18             18      130      8379  1996-05
19             19      284      8379  1996-05
20             20       40      8462  1996-05
21             21       99      8462  1996-05
22             22      107      8462  1996-05
23             23      130      8462  1996-05
24             24      436      8462  1996-05
25             25       40      8378  1996-05
26             26      107      8378  1996-05
27             27      130      8378  1996-05
28             28       40      8403  1996-05
29             29      134      8403  1996-05
...           ...      ...       ...      ...
64298       64298       62     13139  2018-08
64299       64299      586     13139  2018-08
64300       64300      212      4947  2018-08
64301       64301      586      4947  2018-08
64302       64302      210      4853  2018-08
64303       64303      586      4853  2018-08
64304       64304      514     10546  2018-08
64305       64305      596     10546  2018-08
64306       64306      417      8866  2018-08
64307       64307      514      8866  2018-08
64308       64308      556     10609  2018-08
64309       64309      586     10609  2018-08
64310       64310      248      5984  2018-08
64311       64311      586      5984  2018-08
64312       64312      248      5981  2018-08
64313       64313      514      5981  2018-08
64314       64314      586     11825  2018-08
64315       64315      596     11825  2018-08
64316       64316      233      5427  2018-08
64317       64317      296      5427  2018-08
64318       64318       25      6055  2018-08
64319       64319       98      6055  2018-08
64320       64320      331      7185  2018-11
64321       64321      596      7185  2018-11
64322       64322      184      4278  2018-11
64323       64323      331      4278  2018-11
64324       64324      184      4277  2018-11
64325       64325      210      4277  2018-11
64326       64326      331      7184  2018-11
64327       64327      514      7184  2018-11

[64328 rows x 4 columns]

      Unnamed: 0  user_id  group_id   period
0              0      107       101  1996-05
1              1      536       101  1996-05
2              2       40      1106  1996-05
3              3       99      1106  1996-05
4              4      107      1106  1996-05
5              5      107        98  1996-05
6              6      130        98  1996-05
7              7       40      1108  1996-05
8              8       99      1108  1996-05
9              9      353      1108  1996-05
10            10       35       961  1996-05
11            11      107       961  1996-05
12            12      429       961  1996-05
13            13      468       961  1996-05
14            14      107        99  1996-05
15            15      134        99  1996-05
16            16       35       962  1996-05
17            17       40       962  1996-05
18            18      107       962  1996-05
19            19      107       100  1996-05
20            20      136       100  1996-05
21            21       40      1098  1996-05
22            22      107      1098  1996-05
23            23       35       960  1996-05
24            24      107       960  1996-05
25            25      136       235  1996-05
26            26      284       235  1996-05
27            27       40      1101  1996-05
28            28      191      1101  1996-05
29            29      353      1101  1996-05
...          ...      ...       ...      ...
4708        4708       98      1802  2018-08
4709        4709      596      1802  2018-08
4710        4710      417      1167  2018-08
4711        4711      596      1167  2018-08
4712        4712      417      1165  2018-08
4713        4713      556      1165  2018-08
4714        4714       77      1713  2018-08
4715        4715      556      1713  2018-08
4716        4716       77      1709  2018-08
4717        4717      362      1709  2018-08
4718        4718       98      1799  2018-08
4719        4719      417      1799  2018-08
4720        4720      258       715  2018-08
4721        4721      296       715  2018-08
4722        4722       25       690  2018-08
4723        4723      417       690  2018-08
4724        4724      258       721  2018-08
4725        4725      596       721  2018-08
4726        4726       25       691  2018-08
4727        4727      586       691  2018-08
4728        4728      556      1449  2018-08
4729        4729      586      1449  2018-08
4730        4730      248       678  2018-08
4731        4731      258       678  2018-08
4732        4732       98      1801  2018-08
4733        4733      586      1801  2018-08
4734        4734      586      1525  2018-08
4735        4735      596      1525  2018-08
4736        4736      184       425  2018-11
4737        4737      331       425  2018-11

[4738 rows x 4 columns]

      Unnamed: 0  user_id  group_id   period
0              0      107        71  1996-05
1              1      536        71  1996-05
2              2       40       732  1996-05
3              3       99       732  1996-05
4              4      107       732  1996-05
5              5      107        68  1996-05
6              6      130        68  1996-05
7              7       40       734  1996-05
8              8       99       734  1996-05
9              9      353       734  1996-05
10            10       35       621  1996-05
11            11      107       621  1996-05
12            12      429       621  1996-05
13            13      468       621  1996-05
14            14      107        69  1996-05
15            15      134        69  1996-05
16            16       35       622  1996-05
17            17       40       622  1996-05
18            18      107       622  1996-05
19            19      107        70  1996-05
20            20      136        70  1996-05
21            21       40       724  1996-05
22            22      107       724  1996-05
23            23       35       620  1996-05
24            24      107       620  1996-05
25            25      136       133  1996-05
26            26      284       133  1996-05
27            27       40       727  1996-05
28            28      191       727  1996-05
29            29      353       727  1996-05
...          ...      ...       ...      ...
3293        3293      296       524  2018-08
3294        3294      586       524  2018-08
3295        3295       77      1168  2018-08
3296        3296      514      1168  2018-08
3297        3297      514       987  2018-08
3298        3298      586       987  2018-08
3299        3299      296       521  2018-08
3300        3300      362       521  2018-08
3301        3301      362       634  2018-08
3302        3302      417       634  2018-08
3303        3303      258       459  2018-08
3304        3304      417       459  2018-08
3305        3305       25       450  2018-08
3306        3306       77       450  2018-08
3307        3307       25       448  2018-08
3308        3308      417       448  2018-08
3309        3309       98      1232  2018-08
3310        3310      417      1232  2018-08
3311        3311      556      1005  2018-08
3312        3312      586      1005  2018-08
3313        3313       25       455  2018-08
3314        3314       98       455  2018-08
3315        3315       98      1233  2018-08
3316        3316      586      1233  2018-08
3317        3317      586      1078  2018-08
3318        3318      596      1078  2018-08
3319        3319       25       447  2018-08
3320        3320      338       447  2018-08
3321        3321      184       268  2018-11
3322        3322      331       268  2018-11

[3323 rows x 4 columns]

      Unnamed: 0  user_id  group_id   period
0              0       40       305  1996-05
1              1      107       305  1996-05
2              2      136       305  1996-05
3              3      145       305  1996-05
4              4      353       305  1996-05
5              5      468       305  1996-05
6              6       40       308  1996-05
7              7      107       308  1996-05
8              8      145       308  1996-05
9              9      284       308  1996-05
10            10      604       308  1996-05
11            11      107        35  1996-05
12            12      130        35  1996-05
13            13      136        35  1996-05
14            14      145        35  1996-05
15            15      468        35  1996-05
16            16      107        36  1996-05
17            17      130        36  1996-05
18            18      145        36  1996-05
19            19      429        36  1996-05
20            20      604        36  1996-05
21            21      107        37  1996-05
22            22      136        37  1996-05
23            23      145        37  1996-05
24            24      468        37  1996-05
25            25      604        37  1996-05
26            26       40       309  1996-05
27            27      130       309  1996-05
28            28      136       309  1996-05
29            29      145       309  1996-05
...          ...      ...       ...      ...
3248        3248       32       235  1997-02
3249        3249      179       235  1997-02
3250        3250      206       235  1997-02
3251        3251      269       235  1997-02
3252        3252      302       235  1997-02
3253        3253       32       236  1997-02
3254        3254      206       236  1997-02
3255        3255      302       236  1997-02
3256        3256      456       236  1997-02
3257        3257      524       236  1997-02
3258        3258       32       234  1997-02
3259        3259      151       234  1997-02
3260        3260      206       234  1997-02
3261        3261      214       234  1997-02
3262        3262      524       234  1997-02
3263        3263      150       162  1997-02
3264        3264      269       162  1997-02
3265        3265      270       162  1997-02
3266        3266      451       162  1997-02
3267        3267      521       162  1997-02
3268        3268       57       430  2000-08
3269        3269      294       430  2000-08
3270        3270      414       430  2000-08
3271        3271      469       430  2000-08
3272        3272      607       430  2000-08
3273        3273       19       189  2000-08
3274        3274       57       189  2000-08
3275        3275      294       189  2000-08
3276        3276      469       189  2000-08
3277        3277      607       189  2000-08

[3278 rows x 4 columns]

   Unnamed: 0  user_id  group_id   period
0           0       58         0  1996-11
1           1       94         0  1996-11
2           2      117         0  1996-11
3           3      121         0  1996-11
4           4      373         0  1996-11
5           5       81         1  1996-11
6           6      126         1  1996-11
7           7      373         1  1996-11
8           8      446         1  1996-11
9           9      566         1  1996-11

       Unnamed: 0  user_id  group_id   period
0               0       40      2423  1996-05
1               1      130      2423  1996-05
2               2      134      2423  1996-05
3               3      284      2423  1996-05
4               4      444      2423  1996-05
5               5       40      2419  1996-05
6               6      107      2419  1996-05
7               7      130      2419  1996-05
8               8      468      2419  1996-05
9               9      536      2419  1996-05
10             10       40      2429  1996-05
11             11       99      2429  1996-05
12             12      130      2429  1996-05
13             13      191      2429  1996-05
14             14      284      2429  1996-05
15             15      353      2429  1996-05
16             16       40      2427  1996-05
17             17       99      2427  1996-05
18             18      107      2427  1996-05
19             19      130      2427  1996-05
20             20      436      2427  1996-05
21             21       40      2424  1996-05
22             22      134      2424  1996-05
23             23      145      2424  1996-05
24             24      284      2424  1996-05
25             25      353      2424  1996-05
26             26       40      2420  1996-05
27             27      107      2420  1996-05
28             28      134      2420  1996-05
29             29      284      2420  1996-05
...           ...      ...       ...      ...
34670       34670      233      1866  2018-08
34671       34671      248      1866  2018-08
34672       34672      362      1866  2018-08
34673       34673      514      1866  2018-08
34674       34674      596      1866  2018-08
34675       34675       77      4702  2018-08
34676       34676      233      4702  2018-08
34677       34677      362      4702  2018-08
34678       34678      586      4702  2018-08
34679       34679      596      4702  2018-08
34680       34680       25      2013  2018-08
34681       34681       77      2013  2018-08
34682       34682      417      2013  2018-08
34683       34683      586      2013  2018-08
34684       34684      596      2013  2018-08
34685       34685       25      2005  2018-08
34686       34686      248      2005  2018-08
34687       34687      258      2005  2018-08
34688       34688      586      2005  2018-08
34689       34689      596      2005  2018-08
34690       34690       25      2015  2018-08
34691       34691       98      2015  2018-08
34692       34692      248      2015  2018-08
34693       34693      586      2015  2018-08
34694       34694      596      2015  2018-08
34695       34695       98      5207  2018-08
34696       34696      248      5207  2018-08
34697       34697      258      5207  2018-08
34698       34698      586      5207  2018-08
34699       34699      596      5207  2018-08

[34700 rows x 4 columns]

     Unnamed: 0  user_id  group_id   period
0             0      109         7  1996-08
1             1      162         7  1996-08
2             2      179         7  1996-08
3             3      455         7  1996-08
4             4      476         7  1996-08
5             5      486         7  1996-08
6             6      498         7  1996-08
7             7      512         7  1996-08
8             8       38        45  1996-08
9             9      109        45  1996-08
10           10      176        45  1996-08
11           11      179        45  1996-08
12           12      229        45  1996-08
13           13      447        45  1996-08
14           14      486        45  1996-08
15           15      498        45  1996-08
16           16      512        45  1996-08
17           17      574        45  1996-08
18           18      588        45  1996-08
19           19      602        45  1996-08
20           20      109        10  1996-08
21           21      179        10  1996-08
22           22      486        10  1996-08
23           23      498        10  1996-08
24           24      512        10  1996-08
25           25      541        10  1996-08
26           26      584        10  1996-08
27           27      592        10  1996-08
28           28      109         9  1996-08
29           29      179         9  1996-08
..          ...      ...       ...      ...
458         458       41        52  2016-05
459         459       73        52  2016-05
460         460      305        52  2016-05
461         461      339        52  2016-05
462         462      418        52  2016-05
463         463       18        34  2016-05
464         464      122        34  2016-05
465         465      305        34  2016-05
466         466      339        34  2016-05
467         467      495        34  2016-05
468         468       73        79  2016-05
469         469      122        79  2016-05
470         470      305        79  2016-05
471         471      339        79  2016-05
472         472      495        79  2016-05
473         473      258        44  2018-08
474         474      296        44  2018-08
475         475      362        44  2018-08
476         476      417        44  2018-08
477         477      586        44  2018-08
478         478      258        43  2018-08
479         479      296        43  2018-08
480         480      338        43  2018-08
481         481      362        43  2018-08
482         482      417        43  2018-08
483         483       25        42  2018-08
484         484       77        42  2018-08
485         485      362        42  2018-08
486         486      417        42  2018-08
487         487      586        42  2018-08

[488 rows x 4 columns]

     Unnamed: 0  user_id  group_id   period
0             0      109         7  1996-08
1             1      162         7  1996-08
2             2      179         7  1996-08
3             3      455         7  1996-08
4             4      476         7  1996-08
5             5      486         7  1996-08
6             6      498         7  1996-08
7             7      512         7  1996-08
8             8       38        37  1996-08
9             9      109        37  1996-08
10           10      176        37  1996-08
11           11      179        37  1996-08
12           12      229        37  1996-08
13           13      447        37  1996-08
14           14      486        37  1996-08
15           15      498        37  1996-08
16           16      512        37  1996-08
17           17      574        37  1996-08
18           18      588        37  1996-08
19           19      602        37  1996-08
20           20      109        10  1996-08
21           21      179        10  1996-08
22           22      486        10  1996-08
23           23      498        10  1996-08
24           24      512        10  1996-08
25           25      541        10  1996-08
26           26      584        10  1996-08
27           27      592        10  1996-08
28           28      109         9  1996-08
29           29      179         9  1996-08
..          ...      ...       ...      ...
407         407        1         4  2000-08
408         408       57         4  2000-08
409         409       96         4  2000-08
410         410      414         4  2000-08
411         411      469         4  2000-08
412         412        1         2  2000-08
413         413       57         2  2000-08
414         414      414         2  2000-08
415         415      430         2  2000-08
416         416      469         2  2000-08
417         417        1         5  2000-08
418         418       96         5  2000-08
419         419      414         5  2000-08
420         420      465         5  2000-08
421         421      469         5  2000-08
422         422       39        43  2000-11
423         423      160        43  2000-11
424         424      195        43  2000-11
425         425      290        43  2000-11
426         426      409        43  2000-11
427         427       63        69  2015-11
428         428      105        69  2015-11
429         429      233        69  2015-11
430         430      256        69  2015-11
431         431      581        69  2015-11
432         432       25        36  2018-08
433         433       77        36  2018-08
434         434      362        36  2018-08
435         435      417        36  2018-08
436         436      586        36  2018-08

[437 rows x 4 columns]

     Unnamed: 0  user_id  group_id   period
0             0       56        32  1996-08
1             1      102        32  1996-08
2             2      130        32  1996-08
3             3      134        32  1996-08
4             4      142        32  1996-08
5             5      145        32  1996-08
6             6      229        32  1996-08
7             7      235        32  1996-08
8             8      411        32  1996-08
9             9      436        32  1996-08
10           10      455        32  1996-08
11           11      468        32  1996-08
12           12      498        32  1996-08
13           13      541        32  1996-08
14           14      592        32  1996-08
15           15      102         2  1996-08
16           16      145         2  1996-08
17           17      170         2  1996-08
18           18      176         2  1996-08
19           19      179         2  1996-08
20           20      229         2  1996-08
21           21      235         2  1996-08
22           22      385         2  1996-08
23           23      394         2  1996-08
24           24      468         2  1996-08
25           25      498         2  1996-08
26           26      541         2  1996-08
27           27      574         2  1996-08
28           28      584         2  1996-08
29           29      592         2  1996-08
..          ...      ...       ...      ...
463         463       32        23  1997-02
464         464       94        23  1997-02
465         465      117        23  1997-02
466         466      173        23  1997-02
467         467      174        23  1997-02
468         468      240        23  1997-02
469         469      373        23  1997-02
470         470      559        23  1997-02
471         471       58        35  1997-02
472         472      117        35  1997-02
473         473      121        35  1997-02
474         474      133        35  1997-02
475         475      240        35  1997-02
476         476      347        35  1997-02
477         477      446        35  1997-02
478         478      470        35  1997-02
479         479      524        35  1997-02
480         480      559        35  1997-02
481         481      609        35  1997-02
482         482       94        43  1997-02
483         483      117        43  1997-02
484         484      121        43  1997-02
485         485      126        43  1997-02
486         486      240        43  1997-02
487         487      347        43  1997-02
488         488      373        43  1997-02
489         489      374        43  1997-02
490         490      379        43  1997-02
491         491      470        43  1997-02
492         492      609        43  1997-02

[493 rows x 4 columns]

       Unnamed: 0  user_id  group_id   period
0               0       38       306  1996-08
1               1       40       306  1996-08
2               2       46       306  1996-08
3               3       56       306  1996-08
4               4      107       306  1996-08
5               5      109       306  1996-08
6               6      130       306  1996-08
7               7      170       306  1996-08
8               8      176       306  1996-08
9               9      179       306  1996-08
10             10      229       306  1996-08
11             11      235       306  1996-08
12             12      284       306  1996-08
13             13      314       306  1996-08
14             14      404       306  1996-08
15             15      411       306  1996-08
16             16      444       306  1996-08
17             17      447       306  1996-08
18             18      455       306  1996-08
19             19      486       306  1996-08
20             20      498       306  1996-08
21             21      512       306  1996-08
22             22      541       306  1996-08
23             23      574       306  1996-08
24             24      588       306  1996-08
25             25      592       306  1996-08
26             26      602       306  1996-08
27             27       54       450  1996-08
28             28       56       450  1996-08
29             29      102       450  1996-08
...           ...      ...       ...      ...
11172       11172      212       229  2017-08
11173       11173      328       229  2017-08
11174       11174      352       229  2017-08
11175       11175      365       229  2017-08
11176       11176      400       229  2017-08
11177       11177      523       229  2017-08
11178       11178      526       229  2017-08
11179       11179      550       229  2017-08
11180       11180      561       229  2017-08
11181       11181      599       229  2017-08
11182       11182       25       241  2018-08
11183       11183       62       241  2018-08
11184       11184      209       241  2018-08
11185       11185      233       241  2018-08
11186       11186      296       241  2018-08
11187       11187      362       241  2018-08
11188       11188      417       241  2018-08
11189       11189      459       241  2018-08
11190       11190      514       241  2018-08
11191       11191      596       241  2018-08
11192       11192       25       242  2018-08
11193       11193       62       242  2018-08
11194       11194       77       242  2018-08
11195       11195      209       242  2018-08
11196       11196      210       242  2018-08
11197       11197      362       242  2018-08
11198       11198      417       242  2018-08
11199       11199      556       242  2018-08
11200       11200      586       242  2018-08
11201       11201      596       242  2018-08

[11202 rows x 4 columns]

    Unnamed: 0  user_id  group_id   period
0            0       38         1  1996-08
1            1      107         1  1996-08
2            2      109         1  1996-08
3            3      130         1  1996-08
4            4      176         1  1996-08
5            5      179         1  1996-08
6            6      229         1  1996-08
7            7      447         1  1996-08
8            8      486         1  1996-08
9            9      498         1  1996-08
10          10      512         1  1996-08
11          11      574         1  1996-08
12          12      588         1  1996-08
13          13      602         1  1996-08
14          14      109         0  1996-08
15          15      179         0  1996-08
16          16      284         0  1996-08
17          17      486         0  1996-08
18          18      498         0  1996-08
19          19      512         0  1996-08
20          20      536         0  1996-08
21          21      541         0  1996-08
22          22      584         0  1996-08
23          23      592         0  1996-08
24          24       40         4  1996-08
25          25       99         4  1996-08
26          26      109         4  1996-08
27          27      229         4  1996-08
28          28      353         4  1996-08
29          29      447         4  1996-08
30          30      486         4  1996-08
31          31      512         4  1996-08
32          32      588         4  1996-08
33          33      602         4  1996-08
34          34       38         3  1996-08
35          35       46         3  1996-08
36          36      136         3  1996-08
37          37      176         3  1996-08
38          38      229         3  1996-08
39          39      486         3  1996-08
40          40      498         3  1996-08
41          41      512         3  1996-08
42          42      541         3  1996-08
43          43      588         3  1996-08
44          44      592         3  1996-08
45          45      602         3  1996-08
46          46       38         2  1996-08
47          47      176         2  1996-08
48          48      229         2  1996-08
49          49      353         2  1996-08
50          50      476         2  1996-08
51          51      486         2  1996-08
52          52      498         2  1996-08
53          53      512         2  1996-08
54          54      588         2  1996-08
55          55      602         2  1996-08

    Unnamed: 0  user_id  group_id   period
0            0       38         1  1996-08
1            1      107         1  1996-08
2            2      109         1  1996-08
3            3      130         1  1996-08
4            4      176         1  1996-08
5            5      179         1  1996-08
6            6      229         1  1996-08
7            7      447         1  1996-08
8            8      486         1  1996-08
9            9      498         1  1996-08
10          10      512         1  1996-08
11          11      574         1  1996-08
12          12      588         1  1996-08
13          13      602         1  1996-08
14          14      109         0  1996-08
15          15      179         0  1996-08
16          16      284         0  1996-08
17          17      486         0  1996-08
18          18      498         0  1996-08
19          19      512         0  1996-08
20          20      536         0  1996-08
21          21      541         0  1996-08
22          22      584         0  1996-08
23          23      592         0  1996-08
24          24       40         4  1996-08
25          25       99         4  1996-08
26          26      109         4  1996-08
27          27      229         4  1996-08
28          28      353         4  1996-08
29          29      447         4  1996-08
30          30      486         4  1996-08
31          31      512         4  1996-08
32          32      588         4  1996-08
33          33      602         4  1996-08
34          34       38         3  1996-08
35          35       46         3  1996-08
36          36      136         3  1996-08
37          37      176         3  1996-08
38          38      229         3  1996-08
39          39      486         3  1996-08
40          40      498         3  1996-08
41          41      512         3  1996-08
42          42      541         3  1996-08
43          43      588         3  1996-08
44          44      592         3  1996-08
45          45      602         3  1996-08
46          46       38         2  1996-08
47          47      176         2  1996-08
48          48      229         2  1996-08
49          49      353         2  1996-08
50          50      476         2  1996-08
51          51      486         2  1996-08
52          52      498         2  1996-08
53          53      512         2  1996-08
54          54      588         2  1996-08
55          55      602         2  1996-08

    Unnamed: 0  user_id  group_id   period
0            0       56         3  1996-08
1            1      102         3  1996-08
2            2      130         3  1996-08
3            3      134         3  1996-08
4            4      142         3  1996-08
5            5      145         3  1996-08
6            6      229         3  1996-08
7            7      235         3  1996-08
8            8      411         3  1996-08
9            9      436         3  1996-08
10          10      455         3  1996-08
11          11      468         3  1996-08
12          12      498         3  1996-08
13          13      541         3  1996-08
14          14      592         3  1996-08
15          15      102         0  1996-08
16          16      145         0  1996-08
17          17      170         0  1996-08
18          18      176         0  1996-08
19          19      179         0  1996-08
20          20      229         0  1996-08
21          21      235         0  1996-08
22          22      385         0  1996-08
23          23      394         0  1996-08
24          24      468         0  1996-08
25          25      498         0  1996-08
26          26      541         0  1996-08
27          27      574         0  1996-08
28          28      584         0  1996-08
29          29      592         0  1996-08
30          30       40         1  1996-08
31          31      102         1  1996-08
32          32      130         1  1996-08
33          33      136         1  1996-08
34          34      145         1  1996-08
35          35      353         1  1996-08
36          36      404         1  1996-08
37          37      436         1  1996-08
38          38      455         1  1996-08
39          39      476         1  1996-08
40          40      486         1  1996-08
41          41      498         1  1996-08
42          42      512         1  1996-08
43          43      588         1  1996-08
44          44      602         1  1996-08
45          45       56         2  1996-08
46          46      102         2  1996-08
47          47      107         2  1996-08
48          48      142         2  1996-08
49          49      145         2  1996-08
50          50      229         2  1996-08
51          51      404         2  1996-08
52          52      411         2  1996-08
53          53      436         2  1996-08
54          54      455         2  1996-08
55          55      468         2  1996-08
56          56      476         2  1996-08
57          57      486         2  1996-08
58          58      541         2  1996-08
59          59      592         2  1996-08

      Unnamed: 0  user_id  group_id   period
0              0       38        20  1996-08
1              1       40        20  1996-08
2              2       46        20  1996-08
3              3       56        20  1996-08
4              4      107        20  1996-08
5              5      109        20  1996-08
6              6      130        20  1996-08
7              7      170        20  1996-08
8              8      176        20  1996-08
9              9      179        20  1996-08
10            10      229        20  1996-08
11            11      235        20  1996-08
12            12      284        20  1996-08
13            13      314        20  1996-08
14            14      404        20  1996-08
15            15      411        20  1996-08
16            16      444        20  1996-08
17            17      447        20  1996-08
18            18      455        20  1996-08
19            19      486        20  1996-08
20            20      498        20  1996-08
21            21      512        20  1996-08
22            22      541        20  1996-08
23            23      574        20  1996-08
24            24      588        20  1996-08
25            25      592        20  1996-08
26            26      602        20  1996-08
27            27       54        46  1996-08
28            28       56        46  1996-08
29            29      102        46  1996-08
...          ...      ...       ...      ...
2016        2016       58        34  1997-02
2017        2017       81        34  1997-02
2018        2018       94        34  1997-02
2019        2019      117        34  1997-02
2020        2020      174        34  1997-02
2021        2021      240        34  1997-02
2022        2022      302        34  1997-02
2023        2023      340        34  1997-02
2024        2024      379        34  1997-02
2025        2025      402        34  1997-02
2026        2026      446        34  1997-02
2027        2027      470        34  1997-02
2028        2028      524        34  1997-02
2029        2029      559        34  1997-02
2030        2030       10         0  2016-02
2031        2031       18         0  2016-02
2032        2032       63         0  2016-02
2033        2033      105         0  2016-02
2034        2034      112         0  2016-02
2035        2035      123         0  2016-02
2036        2036      139         0  2016-02
2037        2037      233         0  2016-02
2038        2038      298         0  2016-02
2039        2039      366         0  2016-02
2040        2040      378         0  2016-02
2041        2041      441         0  2016-02
2042        2042      445         0  2016-02
2043        2043      511         0  2016-02
2044        2044      581         0  2016-02
2045        2045      601         0  2016-02

[2046 rows x 4 columns]

     Unnamed: 0  user_id  group_id   period
0             0       38         7  1996-08
1             1       40         7  1996-08
2             2       46         7  1996-08
3             3       56         7  1996-08
4             4      107         7  1996-08
5             5      109         7  1996-08
6             6      130         7  1996-08
7             7      170         7  1996-08
8             8      176         7  1996-08
9             9      179         7  1996-08
10           10      229         7  1996-08
11           11      235         7  1996-08
12           12      284         7  1996-08
13           13      314         7  1996-08
14           14      404         7  1996-08
15           15      411         7  1996-08
16           16      444         7  1996-08
17           17      447         7  1996-08
18           18      455         7  1996-08
19           19      486         7  1996-08
20           20      498         7  1996-08
21           21      512         7  1996-08
22           22      541         7  1996-08
23           23      574         7  1996-08
24           24      588         7  1996-08
25           25      592         7  1996-08
26           26      602         7  1996-08
27           27       54        14  1996-08
28           28       56        14  1996-08
29           29      102        14  1996-08
..          ...      ...       ...      ...
445         445      411         6  1996-08
446         446      447         6  1996-08
447         447      486         6  1996-08
448         448      498         6  1996-08
449         449      512         6  1996-08
450         450      588         6  1996-08
451         451      592         6  1996-08
452         452      602         6  1996-08
453         453        8        17  1996-08
454         454       26        17  1996-08
455         455       56        17  1996-08
456         456      102        17  1996-08
457         457      109        17  1996-08
458         458      134        17  1996-08
459         459      142        17  1996-08
460         460      179        17  1996-08
461         461      229        17  1996-08
462         462      235        17  1996-08
463         463      242        17  1996-08
464         464      273        17  1996-08
465         465      349        17  1996-08
466         466      353        17  1996-08
467         467      411        17  1996-08
468         468      444        17  1996-08
469         469      447        17  1996-08
470         470      512        17  1996-08
471         471      588        17  1996-08
472         472      592        17  1996-08
473         473      602        17  1996-08
474         474      604        17  1996-08

[475 rows x 4 columns]

       Unnamed: 0  user_id  group_id   period
0               0       56      6272  1996-08
1               1      102      6272  1996-08
2               2      130      6272  1996-08
3               3      134      6272  1996-08
4               4      142      6272  1996-08
5               5      145      6272  1996-08
6               6      229      6272  1996-08
7               7      235      6272  1996-08
8               8      411      6272  1996-08
9               9      436      6272  1996-08
10             10      455      6272  1996-08
11             11      468      6272  1996-08
12             12      498      6272  1996-08
13             13      541      6272  1996-08
14             14      592      6272  1996-08
15             15      102       187  1996-08
16             16      145       187  1996-08
17             17      170       187  1996-08
18             18      176       187  1996-08
19             19      179       187  1996-08
20             20      229       187  1996-08
21             21      235       187  1996-08
22             22      385       187  1996-08
23             23      394       187  1996-08
24             24      468       187  1996-08
25             25      498       187  1996-08
26             26      541       187  1996-08
27             27      574       187  1996-08
28             28      584       187  1996-08
29             29      592       187  1996-08
...           ...      ...       ...      ...
25058       25058      212      2880  2018-08
25059       25059      514      2880  2018-08
25060       25060      567      6487  2018-08
25061       25061      586      6487  2018-08
25062       25062       62      6917  2018-08
25063       25063      248      6917  2018-08
25064       25064       98      7651  2018-08
25065       25065      596      7651  2018-08
25066       25066       62      6918  2018-08
25067       25067      567      6918  2018-08
25068       25068      514      6008  2018-08
25069       25069      596      6008  2018-08
25070       25070       50      5973  2018-08
25071       25071      567      5973  2018-08
25072       25072      153      2186  2018-08
25073       25073      567      2186  2018-08
25074       25074       68      7112  2018-08
25075       25075      567      7112  2018-08
25076       25076       89      7425  2018-08
25077       25077      305      7425  2018-08
25078       25078       68      7078  2018-08
25079       25079      248      7078  2018-08
25080       25080      233      3134  2018-08
25081       25081      305      3134  2018-08
25082       25082      233      3139  2018-08
25083       25083      567      3139  2018-08
25084       25084      212      2889  2018-08
25085       25085      596      2889  2018-08
25086       25086      184      2660  2019-02
25087       25087      331      2660  2019-02

[25088 rows x 4 columns]

     Unnamed: 0  user_id  group_id   period
0             0       38        35  1996-09
1             1      485        35  1996-09
2             2       40        39  1996-09
3             3      446        39  1996-09
4             4      136         2  1996-09
5             5      584         2  1996-09
6             6      386        38  1996-09
7             7      588        38  1996-09
8             8       38        34  1996-09
9             9      136        34  1996-09
10           10      136         1  1996-09
11           11      314         1  1996-09
12           12       94        59  1996-09
13           13      536        59  1996-09
14           14      541        46  1996-09
15           15      602        46  1996-09
16           16       81        56  1997-03
17           17      126        56  1997-03
18           18       81        57  1997-03
19           19      373        57  1997-03
20           20      181         9  1997-03
21           21      373         9  1997-03
22           22        6        50  1997-03
23           23       84        50  1997-03
24           24       57        48  2000-09
25           25      414        48  2000-09
26           26       19        12  2000-09
27           27      469        12  2000-09
28           28       19        14  2000-09
29           29      571        14  2000-09
..          ...      ...       ...      ...
90           90      219        17  2008-03
91           91      477        17  2008-03
92           92       28        19  2009-03
93           93       51        19  2009-03
94           94       51        45  2009-03
95           95      600        45  2009-03
96           96      177         8  2015-09
97           97      509         8  2015-09
98           98      139         4  2016-03
99           99      495         4  2016-03
100         100      139         3  2016-03
101         101      298         3  2016-03
102         102      365        33  2017-03
103         103      517        33  2017-03
104         104      599        49  2017-09
105         105      610        49  2017-09
106         106       47        41  2017-09
107         107      328        41  2017-09
108         108      382        36  2018-03
109         109      599        36  2018-03
110         110       50        44  2018-03
111         111      111        44  2018-03
112         112      331        31  2018-09
113         113      567        31  2018-09
114         114      296        27  2018-09
115         115      567        27  2018-09
116         116       68        52  2018-09
117         117      153        52  2018-09
118         118      153         5  2018-09
119         119      567         5  2018-09

[120 rows x 4 columns]

      Unnamed: 0  user_id  group_id   period
0              0      136        49  1996-08
1              1      411        49  1996-08
2              2      436        49  1996-08
3              3      584        49  1996-08
4              4      602        49  1996-08
5              5      235       226  1996-08
6              6      314       226  1996-08
7              7      394       226  1996-08
8              8       40       433  1996-08
9              9      485       433  1996-08
10            10      588       433  1996-08
11            11      136        43  1996-08
12            12      145        43  1996-08
13            13      314        43  1996-08
14            14      394        43  1996-08
15            15      436        43  1996-08
16            16      498        43  1996-08
17            17      136        51  1996-08
18            18      436        51  1996-08
19            19      588        51  1996-08
20            20      136        50  1996-08
21            21      436        50  1996-08
22            22      191       157  1996-08
23            23      314       157  1996-08
24            24      394       157  1996-08
25            25      588       157  1996-08
26            26      136        52  1996-08
27            27      584        52  1996-08
28            28      602        52  1996-08
29            29       38       387  1996-08
...          ...      ...       ...      ...
1493        1493       98       671  2018-08
1494        1494      567       671  2018-08
1495        1495       98       670  2018-08
1496        1496      153       670  2018-08
1497        1497       89       633  2018-08
1498        1498      567       633  2018-08
1499        1499       68       589  2018-08
1500        1500      153       589  2018-08
1501        1501       89       630  2018-08
1502        1502      233       630  2018-08
1503        1503      305       301  2018-08
1504        1504      567       301  2018-08
1505        1505       50       509  2018-08
1506        1506      153       509  2018-08
1507        1507      514       515  2018-08
1508        1508      567       515  2018-08
1509        1509      567       528  2018-08
1510        1510      596       528  2018-08
1511        1511       62       571  2018-08
1512        1512      567       571  2018-08
1513        1513       50       511  2018-08
1514        1514      567       511  2018-08
1515        1515      153        72  2018-08
1516        1516      567        72  2018-08
1517        1517      296       292  2018-08
1518        1518      567       292  2018-08
1519        1519      212       188  2018-08
1520        1520      567       188  2018-08
1521        1521      153        68  2018-08
1522        1522      233        68  2018-08

[1523 rows x 4 columns]

        Unnamed: 0  user_id  group_id   period
0                0       38     18230  1996-08
1                1       40     18230  1996-08
2                2       46     18230  1996-08
3                3       56     18230  1996-08
4                4      107     18230  1996-08
5                5      109     18230  1996-08
6                6      130     18230  1996-08
7                7      170     18230  1996-08
8                8      176     18230  1996-08
9                9      179     18230  1996-08
10              10      229     18230  1996-08
11              11      235     18230  1996-08
12              12      284     18230  1996-08
13              13      314     18230  1996-08
14              14      404     18230  1996-08
15              15      411     18230  1996-08
16              16      444     18230  1996-08
17              17      447     18230  1996-08
18              18      455     18230  1996-08
19              19      486     18230  1996-08
20              20      498     18230  1996-08
21              21      512     18230  1996-08
22              22      541     18230  1996-08
23              23      574     18230  1996-08
24              24      588     18230  1996-08
25              25      592     18230  1996-08
26              26      602     18230  1996-08
27              27       54     24328  1996-08
28              28       56     24328  1996-08
29              29      102     24328  1996-08
...            ...      ...       ...      ...
145860      145860       50     23787  2018-08
145861      145861      153     23787  2018-08
145862      145862       62     28382  2018-08
145863      145863      212     28382  2018-08
145864      145864       62     28589  2018-08
145865      145865      601     28589  2018-08
145866      145866       62     28500  2018-08
145867      145867      305     28500  2018-08
145868      145868       62     28504  2018-08
145869      145869      338     28504  2018-08
145870      145870      567     25620  2018-08
145871      145871      601     25620  2018-08
145872      145872      212     11124  2018-08
145873      145873      414     11124  2018-08
145874      145874       62     28456  2018-08
145875      145875      249     28456  2018-08
145876      145876      212     11158  2018-08
145877      145877      567     11158  2018-08
145878      145878       25     13767  2018-08
145879      145879       98     13767  2018-08
145880      145880      380     18526  2018-08
145881      145881      596     18526  2018-08
145882      145882      331     16673  2019-02
145883      145883      596     16673  2019-02
145884      145884      184      9392  2019-02
145885      145885      331      9392  2019-02
145886      145886      184      9391  2019-02
145887      145887      210      9391  2019-02
145888      145888      331     16672  2019-02
145889      145889      514     16672  2019-02

[145890 rows x 4 columns]

       Unnamed: 0  user_id  group_id   period
0               0       38      2120  1996-08
1               1      107      2120  1996-08
2               2      109      2120  1996-08
3               3      130      2120  1996-08
4               4      176      2120  1996-08
5               5      179      2120  1996-08
6               6      229      2120  1996-08
7               7      447      2120  1996-08
8               8      486      2120  1996-08
9               9      498      2120  1996-08
10             10      512      2120  1996-08
11             11      574      2120  1996-08
12             12      588      2120  1996-08
13             13      602      2120  1996-08
14             14      109       192  1996-08
15             15      179       192  1996-08
16             16      284       192  1996-08
17             17      486       192  1996-08
18             18      498       192  1996-08
19             19      512       192  1996-08
20             20      536       192  1996-08
21             21      541       192  1996-08
22             22      584       192  1996-08
23             23      592       192  1996-08
24             24      109       187  1996-08
25             25      162       187  1996-08
26             26      179       187  1996-08
27             27      455       187  1996-08
28             28      476       187  1996-08
29             29      486       187  1996-08
...           ...      ...       ...      ...
10643       10643       62      3232  2018-08
10644       10644      586      3232  2018-08
10645       10645       62      3231  2018-08
10646       10646      567      3231  2018-08
10647       10647       62      3245  2018-08
10648       10648       98      3245  2018-08
10649       10649      586      3071  2018-08
10650       10650      596      3071  2018-08
10651       10651       68      3410  2018-08
10652       10652      210      3410  2018-08
10653       10653      258      1495  2018-08
10654       10654      601      1495  2018-08
10655       10655       68      3432  2018-08
10656       10656      596      3432  2018-08
10657       10657      210      1095  2018-08
10658       10658      248      1095  2018-08
10659       10659      586      3072  2018-08
10660       10660      601      3072  2018-08
10661       10661       62      3172  2018-08
10662       10662      153      3172  2018-08
10663       10663      105       152  2018-08
10664       10664      318       152  2018-08
10665       10665       62      3236  2018-08
10666       10666      601      3236  2018-08
10667       10667       62      3213  2018-08
10668       10668      338      3213  2018-08
10669       10669      210      1098  2018-08
10670       10670      586      1098  2018-08
10671       10671      184       887  2019-02
10672       10672      331       887  2019-02

[10673 rows x 4 columns]

      Unnamed: 0  user_id  group_id   period
0              0       38      1233  1996-08
1              1      107      1233  1996-08
2              2      109      1233  1996-08
3              3      130      1233  1996-08
4              4      176      1233  1996-08
5              5      179      1233  1996-08
6              6      229      1233  1996-08
7              7      447      1233  1996-08
8              8      486      1233  1996-08
9              9      498      1233  1996-08
10            10      512      1233  1996-08
11            11      574      1233  1996-08
12            12      588      1233  1996-08
13            13      602      1233  1996-08
14            14      109       135  1996-08
15            15      179       135  1996-08
16            16      284       135  1996-08
17            17      486       135  1996-08
18            18      498       135  1996-08
19            19      512       135  1996-08
20            20      536       135  1996-08
21            21      541       135  1996-08
22            22      584       135  1996-08
23            23      592       135  1996-08
24            24      109       130  1996-08
25            25      162       130  1996-08
26            26      179       130  1996-08
27            27      455       130  1996-08
28            28      476       130  1996-08
29            29      486       130  1996-08
...          ...      ...       ...      ...
6458        6458      258       822  2018-08
6459        6459      417       822  2018-08
6460        6460       62      2083  2018-08
6461        6461      417      2083  2018-08
6462        6462       62      2088  2018-08
6463        6463       77      2088  2018-08
6464        6464       98      2259  2018-08
6465        6465      417      2259  2018-08
6466        6466       25       792  2018-08
6467        6467       62       792  2018-08
6468        6468       62      2085  2018-08
6469        6469      459      2085  2018-08
6470        6470       62      2086  2018-08
6471        6471      586      2086  2018-08
6472        6472       62      2089  2018-08
6473        6473       98      2089  2018-08
6474        6474      556      1849  2018-08
6475        6475      586      1849  2018-08
6476        6476      586      1979  2018-08
6477        6477      596      1979  2018-08
6478        6478      459      1623  2018-08
6479        6479      586      1623  2018-08
6480        6480       98      2261  2018-08
6481        6481      586      2261  2018-08
6482        6482      586      1980  2018-08
6483        6483      601      1980  2018-08
6484        6484       62      2080  2018-08
6485        6485      338      2080  2018-08
6486        6486      184       483  2019-02
6487        6487      331       483  2019-02

[6488 rows x 4 columns]

      Unnamed: 0  user_id  group_id   period
0              0       56       815  1996-08
1              1      102       815  1996-08
2              2      130       815  1996-08
3              3      134       815  1996-08
4              4      142       815  1996-08
5              5      145       815  1996-08
6              6      229       815  1996-08
7              7      235       815  1996-08
8              8      411       815  1996-08
9              9      436       815  1996-08
10            10      455       815  1996-08
11            11      468       815  1996-08
12            12      498       815  1996-08
13            13      541       815  1996-08
14            14      592       815  1996-08
15            15      102        54  1996-08
16            16      145        54  1996-08
17            17      170        54  1996-08
18            18      176        54  1996-08
19            19      179        54  1996-08
20            20      229        54  1996-08
21            21      235        54  1996-08
22            22      385        54  1996-08
23            23      394        54  1996-08
24            24      468        54  1996-08
25            25      498        54  1996-08
26            26      541        54  1996-08
27            27      574        54  1996-08
28            28      584        54  1996-08
29            29      592        54  1996-08
...          ...      ...       ...      ...
6361        6361       64       983  2007-02
6362        6362       68       983  2007-02
6363        6363      132       983  2007-02
6364        6364      274       983  2007-02
6365        6365      542       983  2007-02
6366        6366       68       988  2007-02
6367        6367      132       988  2007-02
6368        6368      274       988  2007-02
6369        6369      381       988  2007-02
6370        6370      606       988  2007-02
6371        6371       68       987  2007-02
6372        6372      132       987  2007-02
6373        6373      274       987  2007-02
6374        6374      370       987  2007-02
6375        6375      381       987  2007-02
6376        6376       64       985  2007-02
6377        6377       68       985  2007-02
6378        6378      132       985  2007-02
6379        6379      381       985  2007-02
6380        6380      606       985  2007-02
6381        6381       68       986  2007-02
6382        6382      129       986  2007-02
6383        6383      132       986  2007-02
6384        6384      370       986  2007-02
6385        6385      381       986  2007-02
6386        6386       63       981  2016-02
6387        6387      105       981  2016-02
6388        6388      139       981  2016-02
6389        6389      227       981  2016-02
6390        6390      298       981  2016-02

[6391 rows x 4 columns]

    Unnamed: 0  user_id  group_id   period
0            0      136         1  1996-08
1            1      411         1  1996-08
2            2      436         1  1996-08
3            3      584         1  1996-08
4            4      602         1  1996-08
5            5      136         0  1996-08
6            6      145         0  1996-08
7            7      314         0  1996-08
8            8      394         0  1996-08
9            9      436         0  1996-08
10          10      498         0  1996-08
11          11       58         2  1997-02
12          12       94         2  1997-02
13          13      117         2  1997-02
14          14      121         2  1997-02
15          15      373         2  1997-02
16          16       81         3  1997-02
17          17      126         3  1997-02
18          18      373         3  1997-02
19          19      446         3  1997-02
20          20      566         3  1997-02

       Unnamed: 0  user_id  group_id   period
0               0       38      6369  1996-08
1               1       40      6369  1996-08
2               2       46      6369  1996-08
3               3       56      6369  1996-08
4               4      107      6369  1996-08
5               5      109      6369  1996-08
6               6      130      6369  1996-08
7               7      170      6369  1996-08
8               8      176      6369  1996-08
9               9      179      6369  1996-08
10             10      229      6369  1996-08
11             11      235      6369  1996-08
12             12      284      6369  1996-08
13             13      314      6369  1996-08
14             14      404      6369  1996-08
15             15      411      6369  1996-08
16             16      444      6369  1996-08
17             17      447      6369  1996-08
18             18      455      6369  1996-08
19             19      486      6369  1996-08
20             20      498      6369  1996-08
21             21      512      6369  1996-08
22             22      541      6369  1996-08
23             23      574      6369  1996-08
24             24      588      6369  1996-08
25             25      592      6369  1996-08
26             26      602      6369  1996-08
27             27       54      8458  1996-08
28             28       56      8458  1996-08
29             29      102      8458  1996-08
...           ...      ...       ...      ...
81109       81109       62     10659  2018-08
81110       81110      205     10659  2018-08
81111       81111      491     10659  2018-08
81112       81112      556     10659  2018-08
81113       81113      596     10659  2018-08
81114       81114       25      5172  2018-08
81115       81115       62      5172  2018-08
81116       81116      248      5172  2018-08
81117       81117      586      5172  2018-08
81118       81118      596      5172  2018-08
81119       81119       62     10737  2018-08
81120       81120      417     10737  2018-08
81121       81121      491     10737  2018-08
81122       81122      514     10737  2018-08
81123       81123      601     10737  2018-08
81124       81124       62     10739  2018-08
81125       81125      417     10739  2018-08
81126       81126      567     10739  2018-08
81127       81127      586     10739  2018-08
81128       81128      596     10739  2018-08
81129       81129       62     10744  2018-08
81130       81130       68     10744  2018-08
81131       81131      248     10744  2018-08
81132       81132      586     10744  2018-08
81133       81133      596     10744  2018-08
81134       81134       98     12474  2018-08
81135       81135      272     12474  2018-08
81136       81136      459     12474  2018-08
81137       81137      586     12474  2018-08
81138       81138      601     12474  2018-08

[81139 rows x 4 columns]

      Unnamed: 0  user_id  group_id   period
0              0       38       151  1996-08
1              1      107       151  1996-08
2              2      109       151  1996-08
3              3      130       151  1996-08
4              4      176       151  1996-08
5              5      179       151  1996-08
6              6      229       151  1996-08
7              7      447       151  1996-08
8              8      486       151  1996-08
9              9      498       151  1996-08
10            10      512       151  1996-08
11            11      574       151  1996-08
12            12      588       151  1996-08
13            13      602       151  1996-08
14            14      109        27  1996-08
15            15      179        27  1996-08
16            16      284        27  1996-08
17            17      486        27  1996-08
18            18      498        27  1996-08
19            19      512        27  1996-08
20            20      536        27  1996-08
21            21      541        27  1996-08
22            22      584        27  1996-08
23            23      592        27  1996-08
24            24      109        25  1996-08
25            25      162        25  1996-08
26            26      179        25  1996-08
27            27      455        25  1996-08
28            28      476        25  1996-08
29            29      486        25  1996-08
...          ...      ...       ...      ...
1571        1571       25       123  2018-08
1572        1572       62       123  2018-08
1573        1573       77       123  2018-08
1574        1574      209       123  2018-08
1575        1575      586       123  2018-08
1576        1576       62       238  2018-08
1577        1577      209       238  2018-08
1578        1578      296       238  2018-08
1579        1579      417       238  2018-08
1580        1580      586       238  2018-08
1581        1581       25       126  2018-08
1582        1582       62       126  2018-08
1583        1583       77       126  2018-08
1584        1584      417       126  2018-08
1585        1585      586       126  2018-08
1586        1586       25       121  2018-08
1587        1587       62       121  2018-08
1588        1588      209       121  2018-08
1589        1589      296       121  2018-08
1590        1590      417       121  2018-08
1591        1591       62       240  2018-08
1592        1592       77       240  2018-08
1593        1593      362       240  2018-08
1594        1594      514       240  2018-08
1595        1595      586       240  2018-08
1596        1596       25       124  2018-08
1597        1597       62       124  2018-08
1598        1598       77       124  2018-08
1599        1599      233       124  2018-08
1600        1600      586       124  2018-08

[1601 rows x 4 columns]

      Unnamed: 0  user_id  group_id   period
0              0       38        88  1996-08
1              1      107        88  1996-08
2              2      109        88  1996-08
3              3      130        88  1996-08
4              4      176        88  1996-08
5              5      179        88  1996-08
6              6      229        88  1996-08
7              7      447        88  1996-08
8              8      486        88  1996-08
9              9      498        88  1996-08
10            10      512        88  1996-08
11            11      574        88  1996-08
12            12      588        88  1996-08
13            13      602        88  1996-08
14            14      109        22  1996-08
15            15      179        22  1996-08
16            16      284        22  1996-08
17            17      486        22  1996-08
18            18      498        22  1996-08
19            19      512        22  1996-08
20            20      536        22  1996-08
21            21      541        22  1996-08
22            22      584        22  1996-08
23            23      592        22  1996-08
24            24      109        20  1996-08
25            25      162        20  1996-08
26            26      179        20  1996-08
27            27      455        20  1996-08
28            28      476        20  1996-08
29            29      486        20  1996-08
...          ...      ...       ...      ...
997          997      475        72  2017-08
998          998       30        75  2017-08
999          999      352        75  2017-08
1000        1000      380        75  2017-08
1001        1001      475        75  2017-08
1002        1002      523        75  2017-08
1003        1003      561        75  2017-08
1004        1004       30        73  2017-08
1005        1005      328        73  2017-08
1006        1006      380        73  2017-08
1007        1007      475        73  2017-08
1008        1008      561        73  2017-08
1009        1009       30        77  2017-08
1010        1010      380        77  2017-08
1011        1011      400        77  2017-08
1012        1012      475        77  2017-08
1013        1013      599        77  2017-08
1014        1014       25        69  2018-08
1015        1015       62        69  2018-08
1016        1016       77        69  2018-08
1017        1017      209        69  2018-08
1018        1018      362        69  2018-08
1019        1019      417        69  2018-08
1020        1020      586        69  2018-08
1021        1021       25        70  2018-08
1022        1022       62        70  2018-08
1023        1023       77        70  2018-08
1024        1024      209        70  2018-08
1025        1025      417        70  2018-08
1026        1026      586        70  2018-08

[1027 rows x 4 columns]

    Unnamed: 0  user_id  group_id   period
0            0       38         0  1996-08
1            1      109         0  1996-08
2            2      170         0  1996-08
3            3      176         0  1996-08
4            4      179         0  1996-08
5            5      235         0  1996-08
6            6      486         0  1996-08
7            7      498         0  1996-08
8            8      512         0  1996-08
9            9      588         0  1996-08
10          10      602         0  1996-08
11          11       38         1  1996-08
12          12      109         1  1996-08
13          13      176         1  1996-08
14          14      179         1  1996-08
15          15      235         1  1996-08
16          16      394         1  1996-08
17          17      486         1  1996-08
18          18      498         1  1996-08
19          19      512         1  1996-08
20          20      588         1  1996-08
21          21      602         1  1996-08
22          22       38         2  1996-08
23          23      109         2  1996-08
24          24      176         2  1996-08
25          25      179         2  1996-08
26          26      235         2  1996-08
27          27      486         2  1996-08
28          28      498         2  1996-08
29          29      512         2  1996-08
30          30      588         2  1996-08
31          31      602         2  1996-08

    Unnamed: 0  user_id  group_id   period
0            0       38         0  1996-08
1            1      109         0  1996-08
2            2      170         0  1996-08
3            3      176         0  1996-08
4            4      179         0  1996-08
5            5      235         0  1996-08
6            6      486         0  1996-08
7            7      498         0  1996-08
8            8      512         0  1996-08
9            9      588         0  1996-08
10          10      602         0  1996-08
11          11       38         1  1996-08
12          12      109         1  1996-08
13          13      176         1  1996-08
14          14      179         1  1996-08
15          15      235         1  1996-08
16          16      394         1  1996-08
17          17      486         1  1996-08
18          18      498         1  1996-08
19          19      512         1  1996-08
20          20      588         1  1996-08
21          21      602         1  1996-08
22          22       38         2  1996-08
23          23      109         2  1996-08
24          24      176         2  1996-08
25          25      179         2  1996-08
26          26      235         2  1996-08
27          27      486         2  1996-08
28          28      498         2  1996-08
29          29      512         2  1996-08
30          30      588         2  1996-08
31          31      602         2  1996-08

      Unnamed: 0  user_id  group_id   period
0              0       54      1045  1996-04
1              1      191      1045  1996-04
2              2       54      1046  1996-04
3              3       99      1046  1996-04
4              4       40       835  1996-05
5              5      107       835  1996-05
6              6      136       835  1996-05
7              7      145       835  1996-05
8              8      353       835  1996-05
9              9      468       835  1996-05
10            10      107        49  1996-05
11            11      130        49  1996-05
12            12      136        49  1996-05
13            13      145        49  1996-05
14            14      468        49  1996-05
15            15      107        56  1996-05
16            16      136        56  1996-05
17            17      145        56  1996-05
18            18      468        56  1996-05
19            19      604        56  1996-05
20            20      107        55  1996-05
21            21      136        55  1996-05
22            22      145        55  1996-05
23            23      468        55  1996-05
24            24       40       833  1996-05
25            25      107       833  1996-05
26            26      130       833  1996-05
27            27      145       833  1996-05
28            28       40       840  1996-05
29            29      107       840  1996-05
...          ...      ...       ...      ...
3271        3271       50      1022  2017-12
3272        3272      141      1022  2017-12
3273        3273      141       289  2017-12
3274        3274      401       289  2017-12
3275        3275      111       132  2018-01
3276        3276      382       132  2018-01
3277        3277      306       605  2018-02
3278        3278      599       605  2018-02
3279        3279      305       598  2018-02
3280        3280      306       598  2018-02
3281        3281       62      1140  2018-03
3282        3282       89      1140  2018-03
3283        3283       50      1024  2018-05
3284        3284      567      1024  2018-05
3285        3285      153       328  2018-05
3286        3286      567       328  2018-05
3287        3287       68      1152  2018-05
3288        3288      567      1152  2018-05
3289        3289      305       603  2018-08
3290        3290      514       603  2018-08
3291        3291      233       492  2018-08
3292        3292      596       492  2018-08
3293        3293      272       561  2018-08
3294        3294      596       561  2018-08
3295        3295      248       532  2018-08
3296        3296      596       532  2018-08
3297        3297      514      1032  2018-08
3298        3298      596      1032  2018-08
3299        3299      184       419  2018-09
3300        3300      331       419  2018-09

[3301 rows x 4 columns]

       Unnamed: 0  user_id  group_id   period
0               0       99      3210  1996-04
1               1      191      3210  1996-04
2               2       40      1954  1996-05
3               3      130      1954  1996-05
4               4      134      1954  1996-05
5               5      284      1954  1996-05
6               6      444      1954  1996-05
7               7       40      1947  1996-05
8               8      107      1947  1996-05
9               9      134      1947  1996-05
10             10      284      1947  1996-05
11             11      468      1947  1996-05
12             12       40      1960  1996-05
13             13      134      1960  1996-05
14             14      145      1960  1996-05
15             15      284      1960  1996-05
16             16      353      1960  1996-05
17             17       40      1961  1996-05
18             18      134      1961  1996-05
19             19      284      1961  1996-05
20             20       40      1946  1996-05
21             21      107      1946  1996-05
22             22      130      1946  1996-05
23             23      468      1946  1996-05
24             24      536      1946  1996-05
25             25       35      1715  1996-05
26             26       40      1715  1996-05
27             27      107      1715  1996-05
28             28      468      1715  1996-05
29             29      130       386  1996-05
...           ...      ...       ...      ...
10136       10136      233      1189  2018-08
10137       10137      596      1189  2018-08
10138       10138       77      3024  2018-08
10139       10139      596      3024  2018-08
10140       10140      258      1324  2018-08
10141       10141      556      1324  2018-08
10142       10142      272      1380  2018-08
10143       10143      514      1380  2018-08
10144       10144      258      1325  2018-08
10145       10145      596      1325  2018-08
10146       10146       25      1295  2018-08
10147       10147      596      1295  2018-08
10148       10148      556      2600  2018-08
10149       10149      596      2600  2018-08
10150       10150      248      1279  2018-08
10151       10151      596      1279  2018-08
10152       10152      248      1277  2018-08
10153       10153      514      1277  2018-08
10154       10154      514      2568  2018-08
10155       10155      596      2568  2018-08
10156       10156       25      1288  2018-08
10157       10157      248      1288  2018-08
10158       10158      331      1643  2018-09
10159       10159      596      1643  2018-09
10160       10160      184       871  2018-09
10161       10161      331       871  2018-09
10162       10162      184       870  2018-09
10163       10163      210       870  2018-09
10164       10164      331      1642  2018-09
10165       10165      514      1642  2018-09

[10166 rows x 4 columns]

    Unnamed: 0  user_id  group_id   period
0            0       81        19  1996-10
1            1      126        19  1996-10
2            2       19         4  2000-08
3            3      469         4  2000-08
4            4       19         6  2000-08
5            5      571         6  2000-08
6            6       19         5  2000-08
7            7       57         5  2000-08
8            8       19         3  2000-08
9            9      294         3  2000-08
10          10      294        11  2000-08
11          11      469        11  2000-08
12          12      294        10  2000-08
13          13      333        10  2000-08
14          14       57        15  2000-08
15          15      294        15  2000-08
16          16      160         2  2000-10
17          17      368         2  2000-10
18          18      160         1  2000-12
19          19      288         1  2000-12
20          20      384        13  2001-07
21          21      474        13  2001-07
22          22      287         7  2005-03
23          23      316         7  2005-03
24          24      316        12  2005-03
25          25      428        12  2005-03
26          26      287         9  2005-03
27          27      552         9  2005-03
28          28      287         8  2005-03
29          29      428         8  2005-03
30          30       68        16  2006-09
31          31      132        16  2006-09
32          32       68        18  2006-09
33          33      370        18  2006-09
34          34       47        14  2017-05
35          35      328        14  2017-05
36          36       68        17  2018-05
37          37      153        17  2018-05
38          38      153         0  2018-05
39          39      567         0  2018-05

     Unnamed: 0  user_id  group_id   period
0             0       99       132  1996-04
1             1      191       132  1996-04
2             2      136         9  1996-05
3             3      604         9  1996-05
4             4      136         6  1996-05
5             5      145         6  1996-05
6             6      436         6  1996-05
7             7      136         8  1996-05
8             8      436         8  1996-05
9             9      353        70  1996-05
10           10      436        70  1996-05
11           11      136         7  1996-05
12           12      353         7  1996-05
13           13      411        88  1996-06
14           14      584        88  1996-06
15           15       14        10  1996-06
16           16      411        10  1996-06
17           17       14        11  1996-06
18           18      541        11  1996-06
19           19      314        64  1996-06
20           20      541        64  1996-06
21           21      385        80  1996-06
22           22      541        80  1996-06
23           23      394        83  1996-08
24           24      498        83  1996-08
25           25      235        38  1996-08
26           26      394        38  1996-08
27           27      512       104  1996-08
28           28      602       104  1996-08
29           29      394        84  1996-08
..          ...      ...       ...      ...
247         247      298        57  2015-11
248         248      563        57  2015-11
249         249       41        87  2016-03
250         250      424        87  2016-03
251         251      305        59  2016-04
252         252      534        59  2016-04
253         253      305        58  2016-04
254         254      339        58  2016-04
255         255      365        71  2017-03
256         256      517        71  2017-03
257         257      212        33  2017-03
258         258      365        33  2017-03
259         259      352        69  2017-05
260         260      610        69  2017-05
261         261       47        96  2017-05
262         262      352        96  2017-05
263         263       47        95  2017-05
264         264      328        95  2017-05
265         265      380        78  2017-05
266         266      610        78  2017-05
267         267       68       119  2018-05
268         268      153       119  2018-05
269         269       50       102  2018-05
270         270      153       102  2018-05
271         271       50       103  2018-05
272         272      567       103  2018-05
273         273      212        34  2018-05
274         274      567        34  2018-05
275         275      153        12  2018-05
276         276      567        12  2018-05

[277 rows x 4 columns]

       Unnamed: 0  user_id  group_id   period
0               0       99      3210  1996-04
1               1      191      3210  1996-04
2               2       40      1954  1996-05
3               3      130      1954  1996-05
4               4      134      1954  1996-05
5               5      284      1954  1996-05
6               6      444      1954  1996-05
7               7       40      1947  1996-05
8               8      107      1947  1996-05
9               9      134      1947  1996-05
10             10      284      1947  1996-05
11             11      468      1947  1996-05
12             12       40      1960  1996-05
13             13      134      1960  1996-05
14             14      145      1960  1996-05
15             15      284      1960  1996-05
16             16      353      1960  1996-05
17             17       40      1961  1996-05
18             18      134      1961  1996-05
19             19      284      1961  1996-05
20             20       40      1946  1996-05
21             21      107      1946  1996-05
22             22      130      1946  1996-05
23             23      468      1946  1996-05
24             24      536      1946  1996-05
25             25       35      1715  1996-05
26             26       40      1715  1996-05
27             27      107      1715  1996-05
28             28      468      1715  1996-05
29             29      130       386  1996-05
...           ...      ...       ...      ...
10136       10136      233      1189  2018-08
10137       10137      596      1189  2018-08
10138       10138       77      3024  2018-08
10139       10139      596      3024  2018-08
10140       10140      258      1324  2018-08
10141       10141      556      1324  2018-08
10142       10142      272      1380  2018-08
10143       10143      514      1380  2018-08
10144       10144      258      1325  2018-08
10145       10145      596      1325  2018-08
10146       10146       25      1295  2018-08
10147       10147      596      1295  2018-08
10148       10148      556      2600  2018-08
10149       10149      596      2600  2018-08
10150       10150      248      1279  2018-08
10151       10151      596      1279  2018-08
10152       10152      248      1277  2018-08
10153       10153      514      1277  2018-08
10154       10154      514      2568  2018-08
10155       10155      596      2568  2018-08
10156       10156       25      1288  2018-08
10157       10157      248      1288  2018-08
10158       10158      331      1643  2018-09
10159       10159      596      1643  2018-09
10160       10160      184       871  2018-09
10161       10161      331       871  2018-09
10162       10162      184       870  2018-09
10163       10163      210       870  2018-09
10164       10164      331      1642  2018-09
10165       10165      514      1642  2018-09

[10166 rows x 4 columns]

      Unnamed: 0  user_id  group_id   period
0              0       99       605  1996-04
1              1      191       605  1996-04
2              2      107        34  1996-05
3              3      536        34  1996-05
4              4      107        32  1996-05
5              5      130        32  1996-05
6              6       40       392  1996-05
7              7      107       392  1996-05
8              8      107        33  1996-05
9              9      134        33  1996-05
10            10       35       344  1996-05
11            11      107       344  1996-05
12            12      468       344  1996-05
13            13      353       351  1996-05
14            14      444       351  1996-05
15            15      604       351  1996-05
16            16       35       345  1996-05
17            17       40       345  1996-05
18            18      136        78  1996-05
19            19      284        78  1996-05
20            20       40       394  1996-05
21            21      353       394  1996-05
22            22      353       350  1996-05
23            23      444       350  1996-05
24            24      353       349  1996-05
25            25      436       349  1996-05
26            26       40       395  1996-05
27            27      444       395  1996-05
28            28       35       346  1996-05
29            29      536       346  1996-05
...          ...      ...       ...      ...
1351        1351      417       336  2018-06
1352        1352      417       409  2018-06
1353        1353      586       409  2018-06
1354        1354      362       354  2018-07
1355        1355      417       354  2018-07
1356        1356       98       604  2018-07
1357        1357      362       604  2018-07
1358        1358      296       291  2018-07
1359        1359      362       291  2018-07
1360        1360       25       250  2018-08
1361        1361       77       250  2018-08
1362        1362      514       250  2018-08
1363        1363       77       569  2018-08
1364        1364      514       569  2018-08
1365        1365       77       570  2018-08
1366        1366      556       570  2018-08
1367        1367       25       249  2018-08
1368        1368       77       249  2018-08
1369        1369       25       247  2018-08
1370        1370      258       247  2018-08
1371        1371      258       261  2018-08
1372        1372      596       261  2018-08
1373        1373      248       243  2018-08
1374        1374      258       243  2018-08
1375        1375       25       248  2018-08
1376        1376      596       248  2018-08
1377        1377       25       246  2018-08
1378        1378      248       246  2018-08
1379        1379      184       145  2018-09
1380        1380      331       145  2018-09

[1381 rows x 4 columns]

      Unnamed: 0  user_id  group_id   period
0              0       99       452  1996-04
1              1      191       452  1996-04
2              2      107        24  1996-05
3              3      536        24  1996-05
4              4      107        22  1996-05
5              5      130        22  1996-05
6              6       40       282  1996-05
7              7      107       282  1996-05
8              8      107        23  1996-05
9              9      134        23  1996-05
10            10       35       241  1996-05
11            11      107       241  1996-05
12            12      468       241  1996-05
13            13      353       248  1996-05
14            14      444       248  1996-05
15            15      604       248  1996-05
16            16       35       242  1996-05
17            17       40       242  1996-05
18            18      136        54  1996-05
19            19      284        54  1996-05
20            20       40       284  1996-05
21            21      353       284  1996-05
22            22      353       247  1996-05
23            23      444       247  1996-05
24            24      353       246  1996-05
25            25      436       246  1996-05
26            26       40       285  1996-05
27            27      444       285  1996-05
28            28       35       243  1996-05
29            29      536       243  1996-05
...          ...      ...       ...      ...
1018        1018      400       206  2017-07
1019        1019      443       317  2017-08
1020        1020      523       317  2017-08
1021        1021      141        62  2017-12
1022        1022      515        62  2017-12
1023        1023      515       370  2017-12
1024        1024      601       370  2017-12
1025        1025      141        63  2017-12
1026        1026      601        63  2017-12
1027        1027       62       418  2018-03
1028        1028      601       418  2018-03
1029        1029       62       417  2018-03
1030        1030      459       417  2018-03
1031        1031      338       237  2018-06
1032        1032      417       237  2018-06
1033        1033      417       297  2018-06
1034        1034      586       297  2018-06
1035        1035      296       205  2018-07
1036        1036      362       205  2018-07
1037        1037       25       176  2018-08
1038        1038       77       176  2018-08
1039        1039      514       176  2018-08
1040        1040       77       424  2018-08
1041        1041      514       424  2018-08
1042        1042       25       175  2018-08
1043        1043       77       175  2018-08
1044        1044       25       174  2018-08
1045        1045      258       174  2018-08
1046        1046      184       103  2018-09
1047        1047      331       103  2018-09

[1048 rows x 4 columns]

     Unnamed: 0  user_id  group_id   period
0             0       40        23  1996-05
1             1      107        23  1996-05
2             2      136        23  1996-05
3             3      145        23  1996-05
4             4      353        23  1996-05
5             5      468        23  1996-05
6             6      107         1  1996-05
7             7      130         1  1996-05
8             8      136         1  1996-05
9             9      145         1  1996-05
10           10      468         1  1996-05
11           11      107         2  1996-05
12           12      136         2  1996-05
13           13      145         2  1996-05
14           14      468         2  1996-05
15           15      604         2  1996-05
16           16       40        26  1996-05
17           17      107        26  1996-05
18           18      145        26  1996-05
19           19      284        26  1996-05
20           20      604        26  1996-05
21           21       40        27  1996-05
22           22      130        27  1996-05
23           23      136        27  1996-05
24           24      145        27  1996-05
25           25      353        27  1996-05
26           26      436        27  1996-05
27           27       40        28  1996-05
28           28      136        28  1996-05
29           29      145        28  1996-05
..          ...      ...       ...      ...
249         249      121        37  1996-11
250         250      374        37  1996-11
251         251      470        37  1996-11
252         252      566        37  1996-11
253         253      609        37  1996-11
254         254      347        17  1996-11
255         255      374        17  1996-11
256         256      379        17  1996-11
257         257      470        17  1996-11
258         258      609        17  1996-11
259         259      340        15  1996-11
260         260      347        15  1996-11
261         261      374        15  1996-11
262         262      470        15  1996-11
263         263      609        15  1996-11
264         264      121         7  1996-11
265         265      347         7  1996-11
266         266      373         7  1996-11
267         267      566         7  1996-11
268         268      609         7  1996-11
269         269      121         8  1996-11
270         270      347         8  1996-11
271         271      374         8  1996-11
272         272      379         8  1996-11
273         273      470         8  1996-11
274         274        5        36  1996-11
275         275      121        36  1996-11
276         276      347        36  1996-11
277         277      373        36  1996-11
278         278      470        36  1996-11

[279 rows x 4 columns]

      Unnamed: 0  user_id  group_id   period
0              0       40       190  1996-05
1              1      130       190  1996-05
2              2      134       190  1996-05
3              3      284       190  1996-05
4              4      444       190  1996-05
5              5       40       189  1996-05
6              6      107       189  1996-05
7              7      134       189  1996-05
8              8      284       189  1996-05
9              9      468       189  1996-05
10            10       40       192  1996-05
11            11      134       192  1996-05
12            12      145       192  1996-05
13            13      284       192  1996-05
14            14      353       192  1996-05
15            15       40       188  1996-05
16            16      107       188  1996-05
17            17      130       188  1996-05
18            18      468       188  1996-05
19            19      536       188  1996-05
20            20       40       191  1996-05
21            21      130       191  1996-05
22            22      284       191  1996-05
23            23      353       191  1996-05
24            24      604       191  1996-05
25            25      107        31  1996-05
26            26      130        31  1996-05
27            27      134        31  1996-05
28            28      136        31  1996-05
29            29      468        31  1996-05
...          ...      ...       ...      ...
2693        2693      122        57  2016-04
2694        2694      305        57  2016-04
2695        2695      339        57  2016-04
2696        2696      418        57  2016-04
2697        2697      534        57  2016-04
2698        2698      122        53  2016-04
2699        2699      196        53  2016-04
2700        2700      305        53  2016-04
2701        2701      319        53  2016-04
2702        2702      534        53  2016-04
2703        2703      122        54  2016-04
2704        2704      305        54  2016-04
2705        2705      319        54  2016-04
2706        2706      339        54  2016-04
2707        2707      418        54  2016-04
2708        2708      122        56  2016-04
2709        2709      305        56  2016-04
2710        2710      319        56  2016-04
2711        2711      339        56  2016-04
2712        2712      534        56  2016-04
2713        2713       52       330  2016-07
2714        2714      106       330  2016-07
2715        2715      247       330  2016-07
2716        2716      408       330  2016-07
2717        2717      560       330  2016-07
2718        2718       25       153  2018-08
2719        2719       77       153  2018-08
2720        2720      248       153  2018-08
2721        2721      514       153  2018-08
2722        2722      596       153  2018-08

[2723 rows x 4 columns]

      Unnamed: 0  user_id  group_id   period
0              0       40       190  1996-05
1              1      130       190  1996-05
2              2      134       190  1996-05
3              3      284       190  1996-05
4              4      444       190  1996-05
5              5       40       189  1996-05
6              6      107       189  1996-05
7              7      134       189  1996-05
8              8      284       189  1996-05
9              9      468       189  1996-05
10            10       40       192  1996-05
11            11      134       192  1996-05
12            12      145       192  1996-05
13            13      284       192  1996-05
14            14      353       192  1996-05
15            15       40       188  1996-05
16            16      107       188  1996-05
17            17      130       188  1996-05
18            18      468       188  1996-05
19            19      536       188  1996-05
20            20       40       191  1996-05
21            21      130       191  1996-05
22            22      284       191  1996-05
23            23      353       191  1996-05
24            24      604       191  1996-05
25            25      107        31  1996-05
26            26      130        31  1996-05
27            27      134        31  1996-05
28            28      136        31  1996-05
29            29      468        31  1996-05
...          ...      ...       ...      ...
2693        2693      122        57  2016-04
2694        2694      305        57  2016-04
2695        2695      339        57  2016-04
2696        2696      418        57  2016-04
2697        2697      534        57  2016-04
2698        2698      122        53  2016-04
2699        2699      196        53  2016-04
2700        2700      305        53  2016-04
2701        2701      319        53  2016-04
2702        2702      534        53  2016-04
2703        2703      122        54  2016-04
2704        2704      305        54  2016-04
2705        2705      319        54  2016-04
2706        2706      339        54  2016-04
2707        2707      418        54  2016-04
2708        2708      122        56  2016-04
2709        2709      305        56  2016-04
2710        2710      319        56  2016-04
2711        2711      339        56  2016-04
2712        2712      534        56  2016-04
2713        2713       52       330  2016-07
2714        2714      106       330  2016-07
2715        2715      247       330  2016-07
2716        2716      408       330  2016-07
2717        2717      560       330  2016-07
2718        2718       25       153  2018-08
2719        2719       77       153  2018-08
2720        2720      248       153  2018-08
2721        2721      514       153  2018-08
2722        2722      596       153  2018-08

[2723 rows x 4 columns]

    Unnamed: 0  user_id  group_id   period
0            0       56         5  1996-06
1            1      192         5  1996-06
2            2      411         5  1996-06
3            3      541         5  1996-06
4            4      584         5  1996-06
5            5       38         2  1996-08
6            6      109         2  1996-08
7            7      176         2  1996-08
8            8      179         2  1996-08
9            9      486         2  1996-08
10          10      498         2  1996-08
11          11      512         2  1996-08
12          12      588         2  1996-08
13          13      602         2  1996-08
14          14        8         7  1996-08
15          15       38         7  1996-08
16          16      512         7  1996-08
17          17      588         7  1996-08
18          18      602         7  1996-08
19          19       38         4  1996-08
20          20      394         4  1996-08
21          21      512         4  1996-08
22          22      588         4  1996-08
23          23      602         4  1996-08
24          24      109         0  1996-08
25          25      179         0  1996-08
26          26      486         0  1996-08
27          27      498         0  1996-08
28          28      512         0  1996-08
29          29       38         3  1996-08
30          30      176         3  1996-08
31          31      486         3  1996-08
32          32      498         3  1996-08
33          33      512         3  1996-08
34          34      588         3  1996-08
35          35      602         3  1996-08
36          36        8         6  1996-08
37          37       38         6  1996-08
38          38      142         6  1996-08
39          39      512         6  1996-08
40          40      602         6  1996-08
41          41      109         1  1996-08
42          42      486         1  1996-08
43          43      512         1  1996-08
44          44      588         1  1996-08
45          45      602         1  1996-08

    Unnamed: 0  user_id  group_id   period
0            0       56         5  1996-06
1            1      192         5  1996-06
2            2      411         5  1996-06
3            3      541         5  1996-06
4            4      584         5  1996-06
5            5       38         2  1996-08
6            6      109         2  1996-08
7            7      176         2  1996-08
8            8      179         2  1996-08
9            9      486         2  1996-08
10          10      498         2  1996-08
11          11      512         2  1996-08
12          12      588         2  1996-08
13          13      602         2  1996-08
14          14        8         7  1996-08
15          15       38         7  1996-08
16          16      512         7  1996-08
17          17      588         7  1996-08
18          18      602         7  1996-08
19          19       38         4  1996-08
20          20      394         4  1996-08
21          21      512         4  1996-08
22          22      588         4  1996-08
23          23      602         4  1996-08
24          24      109         0  1996-08
25          25      179         0  1996-08
26          26      486         0  1996-08
27          27      498         0  1996-08
28          28      512         0  1996-08
29          29       38         3  1996-08
30          30      176         3  1996-08
31          31      486         3  1996-08
32          32      498         3  1996-08
33          33      512         3  1996-08
34          34      588         3  1996-08
35          35      602         3  1996-08
36          36        8         6  1996-08
37          37       38         6  1996-08
38          38      142         6  1996-08
39          39      512         6  1996-08
40          40      602         6  1996-08
41          41      109         1  1996-08
42          42      486         1  1996-08
43          43      512         1  1996-08
44          44      588         1  1996-08
45          45      602         1  1996-08

      Unnamed: 0  user_id  group_id   period
0              0       40       190  1996-05
1              1      130       190  1996-05
2              2      134       190  1996-05
3              3      284       190  1996-05
4              4      444       190  1996-05
5              5       40       189  1996-05
6              6      107       189  1996-05
7              7      134       189  1996-05
8              8      284       189  1996-05
9              9      468       189  1996-05
10            10       40       192  1996-05
11            11      134       192  1996-05
12            12      145       192  1996-05
13            13      284       192  1996-05
14            14      353       192  1996-05
15            15       40       188  1996-05
16            16      107       188  1996-05
17            17      130       188  1996-05
18            18      468       188  1996-05
19            19      536       188  1996-05
20            20       40       191  1996-05
21            21      130       191  1996-05
22            22      284       191  1996-05
23            23      353       191  1996-05
24            24      604       191  1996-05
25            25      107        31  1996-05
26            26      130        31  1996-05
27            27      134        31  1996-05
28            28      136        31  1996-05
29            29      468        31  1996-05
...          ...      ...       ...      ...
2693        2693      122        57  2016-04
2694        2694      305        57  2016-04
2695        2695      339        57  2016-04
2696        2696      418        57  2016-04
2697        2697      534        57  2016-04
2698        2698      122        53  2016-04
2699        2699      196        53  2016-04
2700        2700      305        53  2016-04
2701        2701      319        53  2016-04
2702        2702      534        53  2016-04
2703        2703      122        54  2016-04
2704        2704      305        54  2016-04
2705        2705      319        54  2016-04
2706        2706      339        54  2016-04
2707        2707      418        54  2016-04
2708        2708      122        56  2016-04
2709        2709      305        56  2016-04
2710        2710      319        56  2016-04
2711        2711      339        56  2016-04
2712        2712      534        56  2016-04
2713        2713       52       330  2016-07
2714        2714      106       330  2016-07
2715        2715      247       330  2016-07
2716        2716      408       330  2016-07
2717        2717      560       330  2016-07
2718        2718       25       153  2018-08
2719        2719       77       153  2018-08
2720        2720      248       153  2018-08
2721        2721      514       153  2018-08
2722        2722      596       153  2018-08

[2723 rows x 4 columns]

      Unnamed: 0  user_id  group_id  period
0              0        5       127    1996
1              1        6       127    1996
2              2       37       127    1996
3              3       58       127    1996
4              4       81       127    1996
5              5       94       127    1996
6              6      102       127    1996
7              7      117       127    1996
8              8      145       127    1996
9              9      170       127    1996
10            10      173       127    1996
11            11      176       127    1996
12            12      179       127    1996
13            13      229       127    1996
14            14      235       127    1996
15            15      240       127    1996
16            16      347       127    1996
17            17      373       127    1996
18            18      379       127    1996
19            19      385       127    1996
20            20      394       127    1996
21            21      468       127    1996
22            22      498       127    1996
23            23      524       127    1996
24            24      541       127    1996
25            25      559       127    1996
26            26      574       127    1996
27            27      584       127    1996
28            28      592       127    1996
29            29       58       195    1996
...          ...      ...       ...     ...
3240        3240        6       212    1996
3241        3241       40       212    1996
3242        3242       58       212    1996
3243        3243      136       212    1996
3244        3244      174       212    1996
3245        3245      229       212    1996
3246        3246      240       212    1996
3247        3247      347       212    1996
3248        3248      584       212    1996
3249        3249      592       212    1996
3250        3250        6       210    1996
3251        3251       38       210    1996
3252        3252       58       210    1996
3253        3253      102       210    1996
3254        3254      136       210    1996
3255        3255      240       210    1996
3256        3256      284       210    1996
3257        3257      385       210    1996
3258        3258      541       210    1996
3259        3259      559       210    1996
3260        3260        6       227    1996
3261        3261       58       227    1996
3262        3262      117       227    1996
3263        3263      176       227    1996
3264        3264      240       227    1996
3265        3265      273       227    1996
3266        3266      314       227    1996
3267        3267      447       227    1996
3268        3268      524       227    1996
3269        3269      559       227    1996

[3270 rows x 4 columns]

       Unnamed: 0  user_id  group_id  period
0               0        6      2810    1996
1               1       37      2810    1996
2               2       43      2810    1996
3               3       56      2810    1996
4               4       58      2810    1996
5               5      102      2810    1996
6               6      109      2810    1996
7               7      117      2810    1996
8               8      126      2810    1996
9               9      133      2810    1996
10             10      142      2810    1996
11             11      179      2810    1996
12             12      181      2810    1996
13             13      229      2810    1996
14             14      235      2810    1996
15             15      284      2810    1996
16             16      347      2810    1996
17             17      379      2810    1996
18             18      385      2810    1996
19             19      394      2810    1996
20             20      404      2810    1996
21             21      411      2810    1996
22             22      436      2810    1996
23             23      447      2810    1996
24             24      455      2810    1996
25             25      458      2810    1996
26             26      470      2810    1996
27             27      476      2810    1996
28             28      485      2810    1996
29             29      486      2810    1996
...           ...      ...       ...     ...
59520       59520       25       804    2018
59521       59521       62       804    2018
59522       59522       77       804    2018
59523       59523      248       804    2018
59524       59524      362       804    2018
59525       59525      382       804    2018
59526       59526      459       804    2018
59527       59527      514       804    2018
59528       59528      586       804    2018
59529       59529      596       804    2018
59530       59530       62      4326    2018
59531       59531      111      4326    2018
59532       59532      209      4326    2018
59533       59533      258      4326    2018
59534       59534      296      4326    2018
59535       59535      331      4326    2018
59536       59536      338      4326    2018
59537       59537      362      4326    2018
59538       59538      382      4326    2018
59539       59539      417      4326    2018
59540       59540       25       805    2018
59541       59541       62       805    2018
59542       59542       98       805    2018
59543       59543      111       805    2018
59544       59544      209       805    2018
59545       59545      233       805    2018
59546       59546      417       805    2018
59547       59547      459       805    2018
59548       59548      514       805    2018
59549       59549      596       805    2018

[59550 rows x 4 columns]

     Unnamed: 0  user_id  group_id  period
0             0        6        16    1996
1             1       38        16    1996
2             2       58        16    1996
3             3       94        16    1996
4             4      107        16    1996
5             5      109        16    1996
6             6      117        16    1996
7             7      130        16    1996
8             8      176        16    1996
9             9      179        16    1996
10           10      229        16    1996
11           11      340        16    1996
12           12      447        16    1996
13           13      486        16    1996
14           14      498        16    1996
15           15      512        16    1996
16           16      566        16    1996
17           17      574        16    1996
18           18      588        16    1996
19           19      602        16    1996
20           20        6        12    1996
21           21      109        12    1996
22           22      179        12    1996
23           23      240        12    1996
24           24      284        12    1996
25           25      379        12    1996
26           26      458        12    1996
27           27      470        12    1996
28           28      486        12    1996
29           29      498        12    1996
..          ...      ...       ...     ...
222         222       96         1    2000
223         223      160         1    2000
224         224      217         1    2000
225         225      267         1    2000
226         226      414         1    2000
227         227      591         1    2000
228         228      112         3    2015
229         229      119         3    2015
230         230      366         3    2015
231         231      378         3    2015
232         232      393         3    2015
233         233      407         3    2015
234         234      439         3    2015
235         235      441         3    2015
236         236      509         3    2015
237         237      511         3    2015
238         238      537         3    2015
239         239      581         3    2015
240         240      601         3    2015
241         241       18         6    2016
242         242       52         6    2016
243         243      122         6    2016
244         244      125         6    2016
245         245      251         6    2016
246         246      305         6    2016
247         247      445         6    2016
248         248      495         6    2016
249         249      549         6    2016
250         250      560         6    2016
251         251      610         6    2016

[252 rows x 4 columns]

     Unnamed: 0  user_id  group_id  period
0             0        6        14    1996
1             1       38        14    1996
2             2       58        14    1996
3             3       94        14    1996
4             4      107        14    1996
5             5      109        14    1996
6             6      117        14    1996
7             7      130        14    1996
8             8      176        14    1996
9             9      179        14    1996
10           10      229        14    1996
11           11      340        14    1996
12           12      447        14    1996
13           13      486        14    1996
14           14      498        14    1996
15           15      512        14    1996
16           16      566        14    1996
17           17      574        14    1996
18           18      588        14    1996
19           19      602        14    1996
20           20        6        10    1996
21           21      109        10    1996
22           22      179        10    1996
23           23      240        10    1996
24           24      284        10    1996
25           25      379        10    1996
26           26      458        10    1996
27           27      470        10    1996
28           28      486        10    1996
29           29      498        10    1996
..          ...      ...       ...     ...
198         198      181        16    1996
199         199      192        16    1996
200         200      284        16    1996
201         201      411        16    1996
202         202      458        16    1996
203         203      470        16    1996
204         204      486        16    1996
205         205      541        16    1996
206         206      584        16    1996
207         207      592        16    1996
208         208        1         0    2000
209         209       39         0    2000
210         210       45         0    2000
211         211       79         0    2000
212         212      115         0    2000
213         213      217         0    2000
214         214      265         0    2000
215         215      267         0    2000
216         216      290         0    2000
217         217      414         0    2000
218         218        1         1    2000
219         219       39         1    2000
220         220       45         1    2000
221         221       79         1    2000
222         222       96         1    2000
223         223      160         1    2000
224         224      217         1    2000
225         225      267         1    2000
226         226      414         1    2000
227         227      591         1    2000

[228 rows x 4 columns]

     Unnamed: 0  user_id  group_id  period
0             0        5        15    1996
1             1        6        15    1996
2             2       37        15    1996
3             3       58        15    1996
4             4       81        15    1996
5             5       94        15    1996
6             6      102        15    1996
7             7      117        15    1996
8             8      145        15    1996
9             9      170        15    1996
10           10      173        15    1996
11           11      176        15    1996
12           12      179        15    1996
13           13      229        15    1996
14           14      235        15    1996
15           15      240        15    1996
16           16      347        15    1996
17           17      373        15    1996
18           18      379        15    1996
19           19      385        15    1996
20           20      394        15    1996
21           21      468        15    1996
22           22      498        15    1996
23           23      524        15    1996
24           24      541        15    1996
25           25      559        15    1996
26           26      574        15    1996
27           27      584        15    1996
28           28      592        15    1996
29           29       58        34    1996
..          ...      ...       ...     ...
752         752        6        18    1996
753         753       54        18    1996
754         754      126        18    1996
755         755      133        18    1996
756         756      142        18    1996
757         757      173        18    1996
758         758      347        18    1996
759         759      373        18    1996
760         760      395        18    1996
761         761      411        18    1996
762         762      455        18    1996
763         763      458        18    1996
764         764      541        18    1996
765         765      609        18    1996
766         766        5        21    1996
767         767        8        21    1996
768         768      117        21    1996
769         769      121        21    1996
770         770      173        21    1996
771         771      229        21    1996
772         772      314        21    1996
773         773      379        21    1996
774         774      411        21    1996
775         775      436        21    1996
776         776      446        21    1996
777         777      541        21    1996
778         778      559        21    1996
779         779      566        21    1996
780         780      584        21    1996
781         781      592        21    1996

[782 rows x 4 columns]

       Unnamed: 0  user_id  group_id  period
0               0        6       353    1996
1               1       37       353    1996
2               2       43       353    1996
3               3       56       353    1996
4               4       58       353    1996
5               5      102       353    1996
6               6      109       353    1996
7               7      117       353    1996
8               8      126       353    1996
9               9      133       353    1996
10             10      142       353    1996
11             11      179       353    1996
12             12      181       353    1996
13             13      229       353    1996
14             14      235       353    1996
15             15      284       353    1996
16             16      347       353    1996
17             17      379       353    1996
18             18      385       353    1996
19             19      394       353    1996
20             20      404       353    1996
21             21      411       353    1996
22             22      436       353    1996
23             23      447       353    1996
24             24      455       353    1996
25             25      458       353    1996
26             26      470       353    1996
27             27      476       353    1996
28             28      485       353    1996
29             29      486       353    1996
...           ...      ...       ...     ...
14334       14334      141       746    2017
14335       14335      190       746    2017
14336       14336      212       746    2017
14337       14337      279       746    2017
14338       14338      328       746    2017
14339       14339      352       746    2017
14340       14340      400       746    2017
14341       14341      413       746    2017
14342       14342      433       746    2017
14343       14343      515       746    2017
14344       14344      523       746    2017
14345       14345      526       746    2017
14346       14346      551       746    2017
14347       14347      561       746    2017
14348       14348      599       746    2017
14349       14349       67       747    2017
14350       14350      141       747    2017
14351       14351      212       747    2017
14352       14352      279       747    2017
14353       14353      328       747    2017
14354       14354      352       747    2017
14355       14355      380       747    2017
14356       14356      400       747    2017
14357       14357      413       747    2017
14358       14358      433       747    2017
14359       14359      471       747    2017
14360       14360      526       747    2017
14361       14361      551       747    2017
14362       14362      561       747    2017
14363       14363      599       747    2017

[14364 rows x 4 columns]

    Unnamed: 0  user_id  group_id  period
0            0        6         2    1996
1            1       38         2    1996
2            2       58         2    1996
3            3       94         2    1996
4            4      107         2    1996
5            5      109         2    1996
6            6      117         2    1996
7            7      130         2    1996
8            8      176         2    1996
9            9      179         2    1996
10          10      229         2    1996
11          11      340         2    1996
12          12      447         2    1996
13          13      486         2    1996
14          14      498         2    1996
15          15      512         2    1996
16          16      566         2    1996
17          17      574         2    1996
18          18      588         2    1996
19          19      602         2    1996
20          20        6         0    1996
21          21      109         0    1996
22          22      179         0    1996
23          23      240         0    1996
24          24      284         0    1996
25          25      379         0    1996
26          26      458         0    1996
27          27      470         0    1996
28          28      486         0    1996
29          29      498         0    1996
30          30      512         0    1996
31          31      536         0    1996
32          32      541         0    1996
33          33      566         0    1996
34          34      584         0    1996
35          35      592         0    1996
36          36        6         1    1996
37          37       38         1    1996
38          38       46         1    1996
39          39       58         1    1996
40          40      136         1    1996
41          41      176         1    1996
42          42      229         1    1996
43          43      340         1    1996
44          44      379         1    1996
45          45      458         1    1996
46          46      486         1    1996
47          47      498         1    1996
48          48      512         1    1996
49          49      541         1    1996
50          50      588         1    1996
51          51      592         1    1996
52          52      602         1    1996

    Unnamed: 0  user_id  group_id  period
0            0        6         2    1996
1            1       38         2    1996
2            2       58         2    1996
3            3       94         2    1996
4            4      107         2    1996
5            5      109         2    1996
6            6      117         2    1996
7            7      130         2    1996
8            8      176         2    1996
9            9      179         2    1996
10          10      229         2    1996
11          11      340         2    1996
12          12      447         2    1996
13          13      486         2    1996
14          14      498         2    1996
15          15      512         2    1996
16          16      566         2    1996
17          17      574         2    1996
18          18      588         2    1996
19          19      602         2    1996
20          20        6         0    1996
21          21      109         0    1996
22          22      179         0    1996
23          23      240         0    1996
24          24      284         0    1996
25          25      379         0    1996
26          26      458         0    1996
27          27      470         0    1996
28          28      486         0    1996
29          29      498         0    1996
30          30      512         0    1996
31          31      536         0    1996
32          32      541         0    1996
33          33      566         0    1996
34          34      584         0    1996
35          35      592         0    1996
36          36        6         1    1996
37          37       38         1    1996
38          38       46         1    1996
39          39       58         1    1996
40          40      136         1    1996
41          41      176         1    1996
42          42      229         1    1996
43          43      340         1    1996
44          44      379         1    1996
45          45      458         1    1996
46          46      486         1    1996
47          47      498         1    1996
48          48      512         1    1996
49          49      541         1    1996
50          50      588         1    1996
51          51      592         1    1996
52          52      602         1    1996

     Unnamed: 0  user_id  group_id  period
0             0        5         1    1996
1             1        6         1    1996
2             2       37         1    1996
3             3       58         1    1996
4             4       81         1    1996
5             5       94         1    1996
6             6      102         1    1996
7             7      117         1    1996
8             8      145         1    1996
9             9      170         1    1996
10           10      173         1    1996
11           11      176         1    1996
12           12      179         1    1996
13           13      229         1    1996
14           14      235         1    1996
15           15      240         1    1996
16           16      347         1    1996
17           17      373         1    1996
18           18      379         1    1996
19           19      385         1    1996
20           20      394         1    1996
21           21      468         1    1996
22           22      498         1    1996
23           23      524         1    1996
24           24      541         1    1996
25           25      559         1    1996
26           26      574         1    1996
27           27      584         1    1996
28           28      592         1    1996
29           29       58         7    1996
..          ...      ...       ...     ...
210         210      347         5    1996
211         211      436         5    1996
212         212      444         5    1996
213         213      446         5    1996
214         214      455         5    1996
215         215      470         5    1996
216         216      524         5    1996
217         217      559         5    1996
218         218      592         5    1996
219         219      609         5    1996
220         220        6         8    1996
221         221       56         8    1996
222         222       58         8    1996
223         223      117         8    1996
224         224      126         8    1996
225         225      130         8    1996
226         226      170         8    1996
227         227      242         8    1996
228         228      347         8    1996
229         229      373         8    1996
230         230      374         8    1996
231         231      394         8    1996
232         232      444         8    1996
233         233      468         8    1996
234         234      470         8    1996
235         235      498         8    1996
236         236      524         8    1996
237         237      559         8    1996
238         238      592         8    1996
239         239      609         8    1996

[240 rows x 4 columns]

      Unnamed: 0  user_id  group_id  period
0              0        6        81    1996
1              1       37        81    1996
2              2       43        81    1996
3              3       56        81    1996
4              4       58        81    1996
5              5      102        81    1996
6              6      109        81    1996
7              7      117        81    1996
8              8      126        81    1996
9              9      133        81    1996
10            10      142        81    1996
11            11      179        81    1996
12            12      181        81    1996
13            13      229        81    1996
14            14      235        81    1996
15            15      284        81    1996
16            16      347        81    1996
17            17      379        81    1996
18            18      385        81    1996
19            19      394        81    1996
20            20      404        81    1996
21            21      411        81    1996
22            22      436        81    1996
23            23      447        81    1996
24            24      455        81    1996
25            25      458        81    1996
26            26      470        81    1996
27            27      476        81    1996
28            28      485        81    1996
29            29      486        81    1996
...          ...      ...       ...     ...
4668        4668      466       185    2015
4669        4669      509       185    2015
4670        4670      511       185    2015
4671        4671      537       185    2015
4672        4672      581       185    2015
4673        4673      582       185    2015
4674        4674      601       185    2015
4675        4675       63       184    2015
4676        4676      103       184    2015
4677        4677      105       184    2015
4678        4678      112       184    2015
4679        4679      119       184    2015
4680        4680      123       184    2015
4681        4681      189       184    2015
4682        4682      233       184    2015
4683        4683      298       184    2015
4684        4684      308       184    2015
4685        4685      366       184    2015
4686        4686      378       184    2015
4687        4687      393       184    2015
4688        4688      407       184    2015
4689        4689      439       184    2015
4690        4690      441       184    2015
4691        4691      466       184    2015
4692        4692      487       184    2015
4693        4693      509       184    2015
4694        4694      511       184    2015
4695        4695      537       184    2015
4696        4696      581       184    2015
4697        4697      601       184    2015

[4698 rows x 4 columns]

      Unnamed: 0  user_id  group_id  period
0              0        6        81    1996
1              1       37        81    1996
2              2       43        81    1996
3              3       56        81    1996
4              4       58        81    1996
5              5      102        81    1996
6              6      109        81    1996
7              7      117        81    1996
8              8      126        81    1996
9              9      133        81    1996
10            10      142        81    1996
11            11      179        81    1996
12            12      181        81    1996
13            13      229        81    1996
14            14      235        81    1996
15            15      284        81    1996
16            16      347        81    1996
17            17      379        81    1996
18            18      385        81    1996
19            19      394        81    1996
20            20      404        81    1996
21            21      411        81    1996
22            22      436        81    1996
23            23      447        81    1996
24            24      455        81    1996
25            25      458        81    1996
26            26      470        81    1996
27            27      476        81    1996
28            28      485        81    1996
29            29      486        81    1996
...          ...      ...       ...     ...
4668        4668      466       185    2015
4669        4669      509       185    2015
4670        4670      511       185    2015
4671        4671      537       185    2015
4672        4672      581       185    2015
4673        4673      582       185    2015
4674        4674      601       185    2015
4675        4675       63       184    2015
4676        4676      103       184    2015
4677        4677      105       184    2015
4678        4678      112       184    2015
4679        4679      119       184    2015
4680        4680      123       184    2015
4681        4681      189       184    2015
4682        4682      233       184    2015
4683        4683      298       184    2015
4684        4684      308       184    2015
4685        4685      366       184    2015
4686        4686      378       184    2015
4687        4687      393       184    2015
4688        4688      407       184    2015
4689        4689      439       184    2015
4690        4690      441       184    2015
4691        4691      466       184    2015
4692        4692      487       184    2015
4693        4693      509       184    2015
4694        4694      511       184    2015
4695        4695      537       184    2015
4696        4696      581       184    2015
4697        4697      601       184    2015

[4698 rows x 4 columns]

       Unnamed: 0  user_id  group_id  period
0               0        5     14105    1996
1               1        6     14105    1996
2               2       37     14105    1996
3               3       58     14105    1996
4               4       81     14105    1996
5               5       94     14105    1996
6               6      102     14105    1996
7               7      117     14105    1996
8               8      145     14105    1996
9               9      170     14105    1996
10             10      173     14105    1996
11             11      176     14105    1996
12             12      179     14105    1996
13             13      229     14105    1996
14             14      235     14105    1996
15             15      240     14105    1996
16             16      347     14105    1996
17             17      373     14105    1996
18             18      379     14105    1996
19             19      385     14105    1996
20             20      394     14105    1996
21             21      468     14105    1996
22             22      498     14105    1996
23             23      524     14105    1996
24             24      541     14105    1996
25             25      559     14105    1996
26             26      574     14105    1996
27             27      584     14105    1996
28             28      592     14105    1996
29             29       58     15905    1996
...           ...      ...       ...     ...
70347       70347      111      2195    2018
70348       70348      382      2195    2018
70349       70349      306      9644    2018
70350       70350      567      9644    2018
70351       70351      362     10743    2018
70352       70352      382     10743    2018
70353       70353      111      2201    2018
70354       70354      567      2201    2018
70355       70355      233      8195    2018
70356       70356      305      8195    2018
70357       70357       50     14215    2018
70358       70358      599     14215    2018
70359       70359      111      2205    2018
70360       70360      599      2205    2018
70361       70361       62     17053    2018
70362       70362      414     17053    2018
70363       70363      567     15451    2018
70364       70364      599     15451    2018
70365       70365      233      8211    2018
70366       70366      599      8211    2018
70367       70367       89     17975    2018
70368       70368      111     17975    2018
70369       70369       62     17042    2018
70370       70370      184     17042    2018
70371       70371      233      8208    2018
70372       70372      567      8208    2018
70373       70373      305      9619    2018
70374       70374      514      9619    2018
70375       70375      414     12826    2018
70376       70376      514     12826    2018

[70377 rows x 4 columns]

     Unnamed: 0  user_id  group_id  period
0             0       81       111    1996
1             1      485       111    1996
2             2       81       109    1996
3             3      126       109    1996
4             4      436       109    1996
5             5       38        73    1996
6             6      485        73    1996
7             7      126         2    1996
8             8      485         2    1996
9             9      126         3    1996
10           10      584         3    1996
11           11       81       110    1996
12           12      373       110    1996
13           13       14         9    1996
14           14      373         9    1996
15           15      126         1    1996
16           16      136         1    1996
17           17      136         4    1996
18           18      181         4    1996
19           19      136         5    1996
20           20      314         5    1996
21           21      386        76    1996
22           22      588        76    1996
23           23      136         7    1996
24           24      584         7    1996
25           25       38        72    1996
26           26      136        72    1996
27           27       40        77    1996
28           28      446        77    1996
29           29       94       116    1996
..          ...      ...       ...     ...
209         209      365        70    2017
210         210      517        70    2017
211         211      599        98    2017
212         212      610        98    2017
213         213      517        92    2017
214         214      599        92    2017
215         215       47        85    2017
216         216      328        85    2017
217         217      461        84    2017
218         218      517        84    2017
219         219      328        67    2017
220         220      517        67    2017
221         221       47        86    2017
222         222      365        86    2017
223         223      111         0    2018
224         224      153         0    2018
225         225      382        74    2018
226         226      599        74    2018
227         227      331        68    2018
228         228      567        68    2018
229         229      296        57    2018
230         230      567        57    2018
231         231       62        99    2018
232         232      111        99    2018
233         233       89       113    2018
234         234      153       113    2018
235         235       68       101    2018
236         236      153       101    2018
237         237      153        10    2018
238         238      567        10    2018

[239 rows x 4 columns]

      Unnamed: 0  user_id  group_id  period
0              0       81      1272    1996
1              1      126      1272    1996
2              2      235      1272    1996
3              3      314      1272    1996
4              4      394      1272    1996
5              5       81      1270    1996
6              6      117      1270    1996
7              7      126      1270    1996
8              8      136      1270    1996
9              9      411      1270    1996
10            10      436      1270    1996
11            11      584      1270    1996
12            12      602      1270    1996
13            13       40       942    1996
14            14       81       942    1996
15            15      126       942    1996
16            16      373       942    1996
17            17      446       942    1996
18            18      485       942    1996
19            19      566       942    1996
20            20      588       942    1996
21            21       81      1271    1996
22            22      126      1271    1996
23            23       14       118    1996
24            24       58       118    1996
25            25      117       118    1996
26            26      379       118    1996
27            27      602       118    1996
28            28      604       118    1996
29            29       40       943    1996
...          ...      ...       ...     ...
3304        3304      305       721    2018
3305        3305      567       721    2018
3306        3306      111        20    2018
3307        3307      153        20    2018
3308        3308       50      1067    2018
3309        3309      153      1067    2018
3310        3310      514      1088    2018
3311        3311      567      1088    2018
3312        3312      567      1110    2018
3313        3313      596      1110    2018
3314        3314      382       894    2018
3315        3315      567       894    2018
3316        3316       62      1201    2018
3317        3317      567      1201    2018
3318        3318       50      1080    2018
3319        3319      567      1080    2018
3320        3320      184       278    2018
3321        3321      567       278    2018
3322        3322      153       140    2018
3323        3323      567       140    2018
3324        3324      296       696    2018
3325        3325      567       696    2018
3326        3326      111        27    2018
3327        3327      567        27    2018
3328        3328       89      1296    2018
3329        3329      306      1296    2018
3330        3330      305       719    2018
3331        3331      514       719    2018
3332        3332      233       562    2018
3333        3333      338       562    2018

[3334 rows x 4 columns]

        Unnamed: 0  user_id  group_id  period
0                0        6     80492    1996
1                1       37     80492    1996
2                2       43     80492    1996
3                3       56     80492    1996
4                4       58     80492    1996
5                5      102     80492    1996
6                6      109     80492    1996
7                7      117     80492    1996
8                8      126     80492    1996
9                9      133     80492    1996
10              10      142     80492    1996
11              11      179     80492    1996
12              12      181     80492    1996
13              13      229     80492    1996
14              14      235     80492    1996
15              15      284     80492    1996
16              16      347     80492    1996
17              17      379     80492    1996
18              18      385     80492    1996
19              19      394     80492    1996
20              20      404     80492    1996
21              21      411     80492    1996
22              22      436     80492    1996
23              23      447     80492    1996
24              24      455     80492    1996
25              25      458     80492    1996
26              26      470     80492    1996
27              27      476     80492    1996
28              28      485     80492    1996
29              29      486     80492    1996
...            ...      ...       ...     ...
523618      523618      380     49483    2018
523619      523619      586     49483    2018
523620      523620       62     89914    2018
523621      523621      305     89914    2018
523622      523622       62     89982    2018
523623      523623      338     89982    2018
523624      523624      249     39721    2018
523625      523625      414     39721    2018
523626      523626      111      9087    2018
523627      523627      184      9087    2018
523628      523628      184     27906    2018
523629      523629      567     27906    2018
523630      523630      184     27894    2018
523631      523631      414     27894    2018
523632      523632      212     33769    2018
523633      523633      414     33769    2018
523634      523634       89    100232    2018
523635      523635      111    100232    2018
523636      523636      111      9147    2018
523637      523637      249      9147    2018
523638      523638      249     39770    2018
523639      523639      514     39770    2018
523640      523640       18     27290    2018
523641      523641       62     27290    2018
523642      523642       25     40000    2018
523643      523643       98     40000    2018
523644      523644      380     49484    2018
523645      523645      596     49484    2018
523646      523646      184     27872    2018
523647      523647      248     27872    2018

[523648 rows x 4 columns]

       Unnamed: 0  user_id  group_id  period
0               0        6      6394    1996
1               1       38      6394    1996
2               2       58      6394    1996
3               3       94      6394    1996
4               4      107      6394    1996
5               5      109      6394    1996
6               6      117      6394    1996
7               7      130      6394    1996
8               8      176      6394    1996
9               9      179      6394    1996
10             10      229      6394    1996
11             11      340      6394    1996
12             12      447      6394    1996
13             13      486      6394    1996
14             14      498      6394    1996
15             15      512      6394    1996
16             16      566      6394    1996
17             17      574      6394    1996
18             18      588      6394    1996
19             19      602      6394    1996
20             20        6      6304    1996
21             21      109      6304    1996
22             22      179      6304    1996
23             23      240      6304    1996
24             24      284      6304    1996
25             25      379      6304    1996
26             26      458      6304    1996
27             27      470      6304    1996
28             28      486      6304    1996
29             29      498      6304    1996
...           ...      ...       ...     ...
24034       24034      105       459    2018
24035       24035      318       459    2018
24036       24036      184      2118    2018
24037       24037      586      2118    2018
24038       24038      210      2509    2018
24039       24039      212      2509    2018
24040       24040      210      2511    2018
24041       24041      248      2511    2018
24042       24042      586      6217    2018
24043       24043      601      6217    2018
24044       24044       62      6588    2018
24045       24045      153      6588    2018
24046       24046      111       585    2018
24047       24047      248       585    2018
24048       24048      105       434    2018
24049       24049      184       434    2018
24050       24050      414      4896    2018
24051       24051      601      4896    2018
24052       24052       98      7587    2018
24053       24053      184      7587    2018
24054       24054      111       596    2018
24055       24055      586       596    2018
24056       24056      184      2107    2018
24057       24057      212      2107    2018
24058       24058       62      6692    2018
24059       24059      601      6692    2018
24060       24060       62      6654    2018
24061       24061      338      6654    2018
24062       24062      210      2521    2018
24063       24063      586      2521    2018

[24064 rows x 4 columns]

       Unnamed: 0  user_id  group_id  period
0               0        6      3807    1996
1               1       38      3807    1996
2               2       58      3807    1996
3               3       94      3807    1996
4               4      107      3807    1996
5               5      109      3807    1996
6               6      117      3807    1996
7               7      130      3807    1996
8               8      176      3807    1996
9               9      179      3807    1996
10             10      229      3807    1996
11             11      340      3807    1996
12             12      447      3807    1996
13             13      486      3807    1996
14             14      498      3807    1996
15             15      512      3807    1996
16             16      566      3807    1996
17             17      574      3807    1996
18             18      588      3807    1996
19             19      602      3807    1996
20             20        6      3717    1996
21             21      109      3717    1996
22             22      179      3717    1996
23             23      240      3717    1996
24             24      284      3717    1996
25             25      379      3717    1996
26             26      458      3717    1996
27             27      470      3717    1996
28             28      486      3717    1996
29             29      498      3717    1996
...           ...      ...       ...     ...
13548       13548       62      4000    2018
13549       13549       98      4000    2018
13550       13550       98      4303    2018
13551       13551      519      4303    2018
13552       13552       98      4300    2018
13553       13553      331      4300    2018
13554       13554       62      3997    2018
13555       13555      586      3997    2018
13556       13556      184       941    2018
13557       13557      331       941    2018
13558       13558      556      3273    2018
13559       13559      586      3273    2018
13560       13560      331      1967    2018
13561       13561      417      1967    2018
13562       13562      586      3633    2018
13563       13563      596      3633    2018
13564       13564      459      3015    2018
13565       13565      586      3015    2018
13566       13566       98      4304    2018
13567       13567      586      4304    2018
13568       13568      586      3634    2018
13569       13569      601      3634    2018
13570       13570      111       354    2018
13571       13571      184       354    2018
13572       13572       98      4298    2018
13573       13573      184      4298    2018
13574       13574      105       285    2018
13575       13575      184       285    2018
13576       13576       62      3987    2018
13577       13577      338      3987    2018

[13578 rows x 4 columns]

     Unnamed: 0  user_id  group_id  period
0             0        6        13    1996
1             1       37        13    1996
2             2       43        13    1996
3             3       56        13    1996
4             4       58        13    1996
5             5      102        13    1996
6             6      109        13    1996
7             7      117        13    1996
8             8      126        13    1996
9             9      133        13    1996
10           10      142        13    1996
11           11      179        13    1996
12           12      181        13    1996
13           13      229        13    1996
14           14      235        13    1996
15           15      284        13    1996
16           16      347        13    1996
17           17      379        13    1996
18           18      385        13    1996
19           19      394        13    1996
20           20      404        13    1996
21           21      411        13    1996
22           22      436        13    1996
23           23      447        13    1996
24           24      455        13    1996
25           25      458        13    1996
26           26      470        13    1996
27           27      476        13    1996
28           28      485        13    1996
29           29      486        13    1996
..          ...      ...       ...     ...
736         736       43         0    1996
737         737       56         0    1996
738         738       58         0    1996
739         739       94         0    1996
740         740      136         0    1996
741         741      142         0    1996
742         742      176         0    1996
743         743      179         0    1996
744         744      181         0    1996
745         745      242         0    1996
746         746      340         0    1996
747         747      353         0    1996
748         748      379         0    1996
749         749      404         0    1996
750         750      411         0    1996
751         751      436         0    1996
752         752      455         0    1996
753         753      458         0    1996
754         754      476         0    1996
755         755      485         0    1996
756         756      486         0    1996
757         757      498         0    1996
758         758      512         0    1996
759         759      524         0    1996
760         760      541         0    1996
761         761      566         0    1996
762         762      584         0    1996
763         763      588         0    1996
764         764      592         0    1996
765         765      602         0    1996

[766 rows x 4 columns]

     Unnamed: 0  user_id  group_id  period
0             0        6        13    1996
1             1       37        13    1996
2             2       43        13    1996
3             3       56        13    1996
4             4       58        13    1996
5             5      102        13    1996
6             6      109        13    1996
7             7      117        13    1996
8             8      126        13    1996
9             9      133        13    1996
10           10      142        13    1996
11           11      179        13    1996
12           12      181        13    1996
13           13      229        13    1996
14           14      235        13    1996
15           15      284        13    1996
16           16      347        13    1996
17           17      379        13    1996
18           18      385        13    1996
19           19      394        13    1996
20           20      404        13    1996
21           21      411        13    1996
22           22      436        13    1996
23           23      447        13    1996
24           24      455        13    1996
25           25      458        13    1996
26           26      470        13    1996
27           27      476        13    1996
28           28      485        13    1996
29           29      486        13    1996
..          ...      ...       ...     ...
736         736       43         0    1996
737         737       56         0    1996
738         738       58         0    1996
739         739       94         0    1996
740         740      136         0    1996
741         741      142         0    1996
742         742      176         0    1996
743         743      179         0    1996
744         744      181         0    1996
745         745      242         0    1996
746         746      340         0    1996
747         747      353         0    1996
748         748      379         0    1996
749         749      404         0    1996
750         750      411         0    1996
751         751      436         0    1996
752         752      455         0    1996
753         753      458         0    1996
754         754      476         0    1996
755         755      485         0    1996
756         756      486         0    1996
757         757      498         0    1996
758         758      512         0    1996
759         759      524         0    1996
760         760      541         0    1996
761         761      566         0    1996
762         762      584         0    1996
763         763      588         0    1996
764         764      592         0    1996
765         765      602         0    1996

[766 rows x 4 columns]

,Unnamed: 0,itemset,support,users_ids,period,groups
0,0,,97,"5,6,8,14,26,31,35,37,38,40,43,46,54,56,58,81,9...",1996,5079
1,1,592,83,"5,6,8,14,26,35,37,38,40,43,46,54,56,58,81,94,9...",1996,5080
2,2,380,79,"5,6,8,26,37,38,40,43,46,56,58,81,94,99,102,107...",1996,5314
3,3,380 592,72,"5,6,8,26,37,38,40,43,46,56,58,81,94,99,102,109...",1996,5316
4,4,296,77,"5,6,8,14,26,37,38,40,43,54,56,58,81,94,99,102,...",1996,5085
5,5,296 592,69,"5,6,8,14,26,37,38,40,43,54,56,58,81,94,99,102,...",1996,5086
6,6,296 380,67,"5,6,8,26,37,38,40,43,56,58,81,94,99,102,107,10...",1996,5328
7,7,296 380 592,60,"5,6,8,26,37,38,40,43,56,58,81,94,99,102,109,11...",1996,5330
8,8,150,76,"5,6,8,14,26,35,37,38,40,43,54,58,81,94,99,102,...",1996,5081
9,9,150 592,71,"5,6,8,14,26,35,37,38,40,43,54,58,81,94,99,102,...",1996,5082
10,10,150 380,64,"5,6,8,26,37,38,40,43,58,81,94,99,102,107,109,1...",1996,5341
11,11,150 380 592,60,"5,6,8,26,37,38,40,43,58,81,94,99,102,109,117,1...",1996,5345
12,12,150 296,64,"5,6,8,14,26,37,38,40,43,54,58,81,94,99,102,107...",1996,5087
13,13,150 296 592,60,"5,6,8,14,26,37,38,40,43,54,58,81,94,99,102,109...",1996,5088
14,14,150 296 380,55,"5,6,8,26,37,38,40,43,58,81,94,99,102,107,109,1...",1996,5342
15,15,150 296 380 592,51,"5,6,8,26,37,38,40,43,58,81,94,99,102,109,117,1...",1996,5346
16,16,590,75,"5,6,8,14,35,37,38,40,43,46,54,58,94,102,107,10...",1996,5095
17,17,590 592,69,"5,6,8,14,35,37,38,40,43,46,54,58,94,102,109,11...",1996,5096
18,18,590 380,63,"5,6,8,37,38,40,43,46,58,94,102,107,109,117,121...",1996,5407
19,19,590 380 592,59,"5,6,8,37,38,40,43,46,58,94,102,109,117,121,126...",1996,5411
20,20,590 296,64,"5,6,8,14,37,38,40,43,54,58,94,102,107,109,117,...",1996,5115
21,21,590 296 592,59,"5,6,8,14,37,38,40,43,54,58,94,102,109,117,121,...",1996,5120
22,22,590 296 380,55,"5,6,8,37,38,40,43,58,94,102,107,109,117,121,12...",1996,5466
23,23,590 296 380 592,51,"5,6,8,37,38,40,43,58,94,102,109,117,121,126,13...",1996,5477
24,24,590 150,65,"5,6,8,14,35,37,38,40,43,54,58,94,102,107,109,1...",1996,5097
25,25,590 150 592,61,"5,6,8,14,35,37,38,40,43,54,58,94,102,109,117,1...",1996,5098
26,26,590 150 380,54,"5,6,8,37,38,40,43,58,94,102,107,109,117,121,12...",1996,5467
27,27,590 150 380 592,51,"5,6,8,37,38,40,43,58,94,102,109,117,121,126,13...",1996,5478
28,28,590 150 296,56,"5,6,8,14,37,38,40,43,54,58,94,102,107,109,117,...",1996,5116
29,29,590 150 296 592,53,"5,6,8,14,37,38,40,43,54,58,94,102,109,117,121,...",1996,5121
...,...,...,...,...,...,...
40082,40082,586 592,30,"8,14,38,54,94,102,109,117,170,173,229,235,243,...",1996,40108
40083,40083,586 480,32,"8,14,38,54,94,102,109,117,170,173,229,235,273,...",1996,40110
40084,40084,586 377,31,"8,14,38,54,94,102,109,117,170,173,229,235,243,...",1996,40109
40085,40085,586 377 480,30,"8,14,38,54,94,102,109,117,170,173,229,235,321,...",1996,40111
40086,40086,350,32,"6,38,40,43,58,102,117,136,170,174,181,235,314,...",1996,13440
40087,40087,350 592,30,"6,38,40,43,58,102,117,136,170,174,181,235,314,...",1996,13442
40088,40088,350 457,31,"6,38,40,43,58,102,117,136,170,174,181,235,314,...",1996,13441
40089,40089,350 480 356,30,"6,38,43,58,102,117,170,174,181,235,314,321,373...",1996,16081
40090,40090,350 454,30,"6,38,40,43,58,102,117,136,170,174,181,235,321,...",1996,13443
40091,40091,357,32,"5,6,8,38,58,94,109,117,173,181,229,235,273,284...",1996,6516
40092,40092,357 592,30,"5,6,8,38,58,94,109,117,173,181,229,235,273,284...",1996,6517
40093,40093,357 356,30,"6,8,38,58,94,109,117,173,181,229,235,284,314,3...",1996,39028
40094,40094,357 480,30,"6,8,38,58,94,109,117,173,181,229,235,273,284,3...",1996,39027
40095,40095,474 380 457,32,"5,6,58,102,109,117,121,133,142,174,181,229,235...",1996,5077
40096,40096,474 349 457 380,31,"5,6,58,102,109,117,121,133,142,174,181,229,235...",1996,5078
40097,40097,474 377 457 380,30,"6,58,102,109,117,121,133,142,181,229,235,284,3...",1996,32077
40098,40098,440,31,"6,8,38,40,58,102,109,117,121,136,142,174,229,2...",1996,35503
40099,40099,440 457,30,"6,8,38,40,58,102,109,117,121,136,142,174,229,2...",1996,35504
40100,40100,432 380,30,"6,8,38,40,43,46,94,102,107,109,117,121,136,174...",1996,35046
40101,40101,,56,"1,4,19,27,39,45,57,59,79,96,101,115,140,155,15...",2000,1
40102,40102,260,31,"1,19,27,39,45,57,59,79,96,115,155,160,195,202,...",2000,0
40103,40103,2858,30,"1,4,19,39,45,57,96,101,115,160,188,195,202,216...",2000,2
40104,40104,,55,"2,21,63,76,103,105,112,119,123,143,152,177,189...",2015,5
40105,40105,2571,35,"63,76,103,105,112,119,123,152,177,189,227,231,...",2015,40105
40106,40106,318,31,"2,63,76,103,105,123,152,177,189,193,227,233,24...",2015,7
40107,40107,79132,32,"2,21,63,76,103,105,119,123,143,152,177,189,227...",2015,6
40108,40108,2959,30,"21,63,76,103,105,123,152,177,189,193,227,233,2...",2015,8
40109,40109,7153,30,"63,76,103,105,112,119,123,177,189,193,227,233,...",2015,40106
40110,40110,,58,"15,18,21,30,47,49,50,65,67,106,112,114,119,125...",2017,3
40111,40111,318,32,"15,30,47,49,50,65,67,106,141,159,190,212,279,3...",2017,4

         user_id  group_id  period
0            5.0      5079    1996
1            6.0      5079    1996
2            8.0      5079    1996
3           14.0      5079    1996
4           26.0      5079    1996
5           31.0      5079    1996
6           35.0      5079    1996
7           37.0      5079    1996
8           38.0      5079    1996
9           40.0      5079    1996
10          43.0      5079    1996
11          46.0      5079    1996
12          54.0      5079    1996
13          56.0      5079    1996
14          58.0      5079    1996
15          81.0      5079    1996
16          94.0      5079    1996
17          99.0      5079    1996
18         102.0      5079    1996
19         107.0      5079    1996
20         109.0      5079    1996
21         117.0      5079    1996
22         121.0      5079    1996
23         126.0      5079    1996
24         130.0      5079    1996
25         133.0      5079    1996
26         134.0      5079    1996
27         136.0      5079    1996
28         142.0      5079    1996
29         145.0      5079    1996
...          ...       ...     ...
1383113     49.0         4    2017
1383114     50.0         4    2017
1383115     65.0         4    2017
1383116     67.0         4    2017
1383117    106.0         4    2017
1383118    141.0         4    2017
1383119    159.0         4    2017
1383120    190.0         4    2017
1383121    212.0         4    2017
1383122    279.0         4    2017
1383123    318.0         4    2017
1383124    328.0         4    2017
1383125    352.0         4    2017
1383126    363.0         4    2017
1383127    365.0         4    2017
1383128    380.0         4    2017
1383129    400.0         4    2017
1383130    413.0         4    2017
1383131    433.0         4    2017
1383132    443.0         4    2017
1383133    461.0         4    2017
1383134    515.0         4    2017
1383135    517.0         4    2017
1383136    523.0         4    2017
1383137    526.0         4    2017
1383138    550.0         4    2017
1383139    551.0         4    2017
1383140    561.0         4    2017
1383141    599.0         4    2017
1383142      NaN         4    2017

[1383143 rows x 3 columns]

       Unnamed: 0  user_id  group_id  period
0               0        5      2653    1996
1               1        6      2653    1996
2               2       37      2653    1996
3               3       58      2653    1996
4               4       81      2653    1996
5               5       94      2653    1996
6               6      102      2653    1996
7               7      117      2653    1996
8               8      145      2653    1996
9               9      170      2653    1996
10             10      173      2653    1996
11             11      176      2653    1996
12             12      179      2653    1996
13             13      229      2653    1996
14             14      235      2653    1996
15             15      240      2653    1996
16             16      347      2653    1996
17             17      373      2653    1996
18             18      379      2653    1996
19             19      385      2653    1996
20             20      394      2653    1996
21             21      468      2653    1996
22             22      498      2653    1996
23             23      524      2653    1996
24             24      541      2653    1996
25             25      559      2653    1996
26             26      574      2653    1996
27             27      584      2653    1996
28             28      592      2653    1996
29             29       58      3260    1996
...           ...      ...       ...     ...
25852       25852      212      1637    2017
25853       25853      279      1637    2017
25854       25854      365      1637    2017
25855       25855      599      1637    2017
25856       25856      610      1637    2017
25857       25857      141      1422    2017
25858       25858      282      1422    2017
25859       25859      352      1422    2017
25860       25860      380      1422    2017
25861       25861      610      1422    2017
25862       25862       15      1473    2017
25863       25863       50      1473    2017
25864       25864      279      1473    2017
25865       25865      401      1473    2017
25866       25866      599      1473    2017
25867       25867       50      2675    2017
25868       25868      141      2675    2017
25869       25869      365      2675    2017
25870       25870      561      2675    2017
25871       25871      599      2675    2017
25872       25872      141      1418    2017
25873       25873      212      1418    2017
25874       25874      365      1418    2017
25875       25875      561      1418    2017
25876       25876      599      1418    2017
25877       25877      141      1428    2017
25878       25878      365      1428    2017
25879       25879      380      1428    2017
25880       25880      599      1428    2017
25881       25881      610      1428    2017

[25882 rows x 4 columns]

     Unnamed: 0  user_id  group_id  period
0             0       81        21    1996
1             1      126        21    1996
2             2      235        21    1996
3             3      314        21    1996
4             4      394        21    1996
5             5       81        20    1996
6             6      117        20    1996
7             7      126        20    1996
8             8      136        20    1996
9             9      411        20    1996
10           10      436        20    1996
11           11      584        20    1996
12           12      602        20    1996
13           13       40        17    1996
14           14       81        17    1996
15           15      126        17    1996
16           16      373        17    1996
17           17      446        17    1996
18           18      485        17    1996
19           19      566        17    1996
20           20      588        17    1996
21           21       14         2    1996
22           22       58         2    1996
23           23      117         2    1996
24           24      379         2    1996
25           25      602         2    1996
26           26      604         2    1996
27           27      126         0    1996
28           28      136         0    1996
29           29      145         0    1996
..          ...      ...       ...     ...
91           91       57        18    2000
92           92      160        18    2000
93           93      294        18    2000
94           94      368        18    2000
95           95      603        18    2000
96           96      160         3    2000
97           97      217         3    2000
98           98      288         3    2000
99           99      368         3    2000
100         100      469         3    2000
101         101      160         4    2000
102         102      217         4    2000
103         103      288         4    2000
104         104      368         4    2000
105         105      546         4    2000
106         106      166         5    2007
107         107      219         5    2007
108         108      307         5    2007
109         109      483         5    2007
110         110      573         5    2007
111         111      230        13    2007
112         112      307        13    2007
113         113      480        13    2007
114         114      483        13    2007
115         115      570        13    2007
116         116      219        12    2007
117         117      307        12    2007
118         118      480        12    2007
119         119      570        12    2007
120         120      573        12    2007

[121 rows x 4 columns]

        Unnamed: 0  user_id  group_id  period
0                0        6     40084    1996
1                1       37     40084    1996
2                2       43     40084    1996
3                3       56     40084    1996
4                4       58     40084    1996
5                5      102     40084    1996
6                6      109     40084    1996
7                7      117     40084    1996
8                8      126     40084    1996
9                9      133     40084    1996
10              10      142     40084    1996
11              11      179     40084    1996
12              12      181     40084    1996
13              13      229     40084    1996
14              14      235     40084    1996
15              15      284     40084    1996
16              16      347     40084    1996
17              17      379     40084    1996
18              18      385     40084    1996
19              19      394     40084    1996
20              20      404     40084    1996
21              21      411     40084    1996
22              22      436     40084    1996
23              23      447     40084    1996
24              24      455     40084    1996
25              25      458     40084    1996
26              26      470     40084    1996
27              27      476     40084    1996
28              28      485     40084    1996
29              29      486     40084    1996
...            ...      ...       ...     ...
360751      360751       62     47170    2018
360752      360752      205     47170    2018
360753      360753      210     47170    2018
360754      360754      382     47170    2018
360755      360755      586     47170    2018
360756      360756       62     47012    2018
360757      360757      111     47012    2018
360758      360758      205     47012    2018
360759      360759      382     47012    2018
360760      360760      596     47012    2018
360761      360761       62     47188    2018
360762      360762      209     47188    2018
360763      360763      212     47188    2018
360764      360764      331     47188    2018
360765      360765      586     47188    2018
360766      360766       62     47330    2018
360767      360767      331     47330    2018
360768      360768      382     47330    2018
360769      360769      417     47330    2018
360770      360770      586     47330    2018
360771      360771       62     47356    2018
360772      360772       68     47356    2018
360773      360773      248     47356    2018
360774      360774      586     47356    2018
360775      360775      596     47356    2018
360776      360776       62     47044    2018
360777      360777      111     47044    2018
360778      360778      212     47044    2018
360779      360779      248     47044    2018
360780      360780      586     47044    2018

[360781 rows x 4 columns]

      Unnamed: 0  user_id  group_id  period
0              0        6       770    1996
1              1       38       770    1996
2              2       58       770    1996
3              3       94       770    1996
4              4      107       770    1996
5              5      109       770    1996
6              6      117       770    1996
7              7      130       770    1996
8              8      176       770    1996
9              9      179       770    1996
10            10      229       770    1996
11            11      340       770    1996
12            12      447       770    1996
13            13      486       770    1996
14            14      498       770    1996
15            15      512       770    1996
16            16      566       770    1996
17            17      574       770    1996
18            18      588       770    1996
19            19      602       770    1996
20            20        6       738    1996
21            21      109       738    1996
22            22      179       738    1996
23            23      240       738    1996
24            24      284       738    1996
25            25      379       738    1996
26            26      458       738    1996
27            27      470       738    1996
28            28      486       738    1996
29            29      498       738    1996
...          ...      ...       ...     ...
5527        5527      184       410    2018
5528        5528      249       410    2018
5529        5529      305       410    2018
5530        5530      586       410    2018
5531        5531       62       841    2018
5532        5532      331       841    2018
5533        5533      338       841    2018
5534        5534      362       841    2018
5535        5535      382       841    2018
5536        5536      417       841    2018
5537        5537      331       460    2018
5538        5538      338       460    2018
5539        5539      362       460    2018
5540        5540      382       460    2018
5541        5541      417       460    2018
5542        5542       62       843    2018
5543        5543      338       843    2018
5544        5544      362       843    2018
5545        5545      382       843    2018
5546        5546      417       843    2018
5547        5547       62       842    2018
5548        5548      331       842    2018
5549        5549      362       842    2018
5550        5550      382       842    2018
5551        5551      417       842    2018
5552        5552       25       398    2018
5553        5553       62       398    2018
5554        5554      258       398    2018
5555        5555      382       398    2018
5556        5556      586       398    2018

[5557 rows x 4 columns]

      Unnamed: 0  user_id  group_id  period
0              0        6       462    1996
1              1       38       462    1996
2              2       58       462    1996
3              3       94       462    1996
4              4      107       462    1996
5              5      109       462    1996
6              6      117       462    1996
7              7      130       462    1996
8              8      176       462    1996
9              9      179       462    1996
10            10      229       462    1996
11            11      340       462    1996
12            12      447       462    1996
13            13      486       462    1996
14            14      498       462    1996
15            15      512       462    1996
16            16      566       462    1996
17            17      574       462    1996
18            18      588       462    1996
19            19      602       462    1996
20            20        6       430    1996
21            21      109       430    1996
22            22      179       430    1996
23            23      240       430    1996
24            24      284       430    1996
25            25      379       430    1996
26            26      458       430    1996
27            27      470       430    1996
28            28      486       430    1996
29            29      498       430    1996
...          ...      ...       ...     ...
3201        3201       30       162    2017
3202        3202      328       162    2017
3203        3203      380       162    2017
3204        3204      475       162    2017
3205        3205      561       162    2017
3206        3206      209       142    2018
3207        3207      258       142    2018
3208        3208      382       142    2018
3209        3209      417       142    2018
3210        3210      586       142    2018
3211        3211       25       148    2018
3212        3212       62       148    2018
3213        3213       77       148    2018
3214        3214      209       148    2018
3215        3215      362       148    2018
3216        3216      382       148    2018
3217        3217      417       148    2018
3218        3218      586       148    2018
3219        3219       25       149    2018
3220        3220       62       149    2018
3221        3221       77       149    2018
3222        3222      209       149    2018
3223        3223      382       149    2018
3224        3224      417       149    2018
3225        3225      586       149    2018
3226        3226       25       150    2018
3227        3227       77       150    2018
3228        3228      209       150    2018
3229        3229      382       150    2018
3230        3230      586       150    2018

[3231 rows x 4 columns]