In [44]:
import pandas as pd 
import matplotlib.pyplot as plt

In [74]:
file_name= "3M-5-[2-5000]-[DEPARTEMENT]-lcm.out"
plot_name = file_name.replace('out','html')

# Sankey : 
file:///home/abdelouahab/PFE/lcm-tests/plots/3M-5-[2-5000]-[DEPARTEMENT]-lcm.html

In [75]:
groups = pd.read_csv(f"plots/groups/{file_name}",index_col=0)
links = pd.read_csv(f"plots/links/{file_name}",index_col=0)

In [76]:
groups.head()

,user_ids,support,itemsets,period,property_values,depth,size,DEPARTEMENT
0,[187833 322520 427250 518210 576233 603204],6,4190175 19419902,2017-02-01,59,0.0,6,59
1,[206078 263990 365536 622027 752568],5,5461017 7445935,2017-02-01,78,0.0,5,78
2,[428202 602649 622027 752568 754685 908778],6,6027 6026,2017-02-01,78,0.0,6,78
3,[204029 286729 288846 525249 610249],5,3461024 18064205,2017-02-01,78,0.0,5,78
4,[584447 602649 622027 752568 754685],5,18064205 6026,2017-02-01,78,0.0,5,78

In [77]:
links.head()

        target user_id
source
0           48  187833
0          174  427250
1           26  622027
1           30  622027
1           31  752568

# Users apparition frequency

In [78]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()

In [79]:
users = mlb.fit_transform(groups.user_ids.apply(lambda x: x[1:-1].split()))
users = pd.DataFrame(users,columns=mlb.classes_)
users.sum()[users.sum()>20]

294115    34
349380    23
416219    26
428202    31
468837    24
471775    60
489055    42
505859    25
519885    31
555714    30
565366    26
578639    24
584447    47
619437    24
622027    29
715341    26
719763    24
754685    35
761107    23
849812    29
911614    30
963615    45
971894    35
dtype: int64

In [80]:
groups.iloc[44]

user_ids           [110899 244827 270220 271779 296486 314647 345...
support                                                           19
itemsets                                                12520039 451
period                                                    2017-05-01
property_values                                                   59
depth                                                      0.0909091
size                                                              19
DEPARTEMENT                                                       59
Name: 44, dtype: object

### Merge query

In [84]:
target_users= set('107030 108938 110899 114666 118478'.split())
target_users

{'107030', '108938', '110899', '114666', '118478'}

In [85]:
groups[groups.user_ids.apply(lambda x : set(target_users).issubset(x[1:-1].split()) )]

,user_ids,support,itemsets,period,property_values,depth,size,DEPARTEMENT
259,[ 107030 108938 110899 114666 118478 1277...,60,12520268 451,2018-11-01,59,0.636364,60,59
280,[ 107030 108938 110899 114666 118478 1277...,60,451 12520268,2019-02-01,59,0.727273,60,59
293,[ 107030 108938 110899 114666 118478 1277...,54,12520268 451,2019-05-01,59,0.818182,54,59
306,[ 107030 108938 110899 114666 118478 1277...,48,12520268 451,2019-08-01,59,0.909091,48,59

### Split query

In [27]:
set()

0       [187833, 322520, 427250, 518210, 576233, 603204]
1               [206078, 263990, 365536, 622027, 752568]
2       [428202, 602649, 622027, 752568, 754685, 908778]
3               [204029, 286729, 288846, 525249, 610249]
4               [584447, 602649, 622027, 752568, 754685]
                             ...
305    [127790, 483161, 602580, 915181, 1061637, 1167...
306    [107030, 108938, 110899, 114666, 118478, 12779...
307             [209458, 294115, 521183, 576327, 586731]
308    [294115, 468396, 518911, 576327, 933731, 95873...
309             [291659, 305499, 518902, 576327, 843087]
Name: user_ids, Length: 287, dtype: object