In [84]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

import pandas as pd
import json

In [93]:
items = pd.read_csv("../datasets/Total/itemsDescription.csv",sep=";",encoding="latin").drop_duplicates(subset="ARTICLE_ID")

items.DESCRIPTION = items.DESCRIPTION.apply(lambda x : x.upper().replace('"','').replace(" ","").strip())
items = items.groupby('DESCRIPTION')["ARTICLE_ID"].apply(list).to_frame().reset_index()
items["id"]= items.ARTICLE_ID.apply(lambda x : x[0])
items.columns = ["DESCRIPTION","IDS_LIST","ARTICLE_ID"]
# items.sort_values(by="DESCRIPTION").to_csv("../datasets/Total/items.csv")

# Save to mapping file 
mapping = {}
def get_mapping(x):
    for i in set(x["IDS_LIST"]):
        mapping[i]=x['ARTICLE_ID']
items.apply(get_mapping,axis=1)

with open("../datasets/Total/mapping2.json", 'w') as outfile:
    json.dump(mapping, outfile)

In [96]:
promo_produts = pd.read_csv("../datasets/Total/promo_products.csv")
promo_produts

                id               name
0    3158849232001  BIDON AD BLUE 10L
1    3158849282006    ADBLUE BIDON 5L
2    3158849282006    ADBLUE 5L BIDON
3    7070091000701   TOTAL ADBLUE 10L
4    3158849232001  BIDON AD BLUE 10L
..             ...                ...
116  3068320115214         EVIAN 50CL
117  3068320112312     EVIAN 50CL PET
118  3068320055008         Evian 50cl
119  3068320110783         Evian 50cl
120  3217770310513    TOTAL ANTI CREV

[121 rows x 2 columns]