In [23]:
import pandas as pd
import json

In [29]:
items = pd.read_csv("../datasets/Total/items.csv",index_col=0)

In [30]:
items

,DESCRIPTION,IDS_LIST,ARTICLE_ID
0,1 6 RILLETTES THON 125G,[3019081236250],3019081236250
1,"1,5L SUMOL ORAN",[5601045000427],5601045000427
2,1/ BAGUETTE CLUB KAP,[3464381000276],3464381000276
3,1/2 BAG. VIENNOISE X2 170G,"[3760049790801, 3760049790818]",3760049790801
4,10 GOBELETS 27C,[3700232615702],3700232615702
...,...,...,...
11017,ZIGOH DESO FLEUR FUSHIA,[3700619604725],3700619604725
11018,ZIGOTO REGLISSE,[3103220009055],3103220009055
11019,ZIP AMIS LUDENDO,[3700300542008],3700300542008
11020,ZIP POUPEE LAVANDE,[3453131039413],3453131039413
11021,ZUBROWKA VODKA,[5900343003148],5900343003148

In [31]:
items[(items.DESCRIPTION.str.contains("RECHARGE LAVAGE TW"))]

                 DESCRIPTION         IDS_LIST     ARTICLE_ID
8760  RECHARGE LAVAGE TW - A  [3425909001007]  3425909001007
8761  RECHARGE LAVAGE TW - D  [3425909002011]  3425909002011
8762  RECHARGE LAVAGE TW - E  [3425909002943]  3425909002943

In [36]:
items = pd.read_csv("../datasets/Total/items.csv",index_col=0)
promo_ids = [
    # ADBLUE 10L 
    3425901018140,
    # ADBLUE 5L
    3011449300559,
    # TOTAL QUARTZ Huile Moteur 
    3425901019260,
    3425901037172,
    3425901025872,
    3425901048086,
    3425901017969,
    3425901028170,
    3425901018249,
    3425901090993,
    3011449260457,
    3425901028187,
    3425901026251,
    3425901019505,
    3425901018232,
    3425901029320,
    3425901019734,
    3425901027869,
    3425901017976,
    3425901029290,
    # TOTAL ACTIVA HUILE MOTEUR
    3425901014890,
    3425901019178,
    3425900000962,
    3011449262970,
    3425901029788,
    3425901015859,
    3425901015835,
    3425901014944,
    3425901018188,
    3425901018201,
    3425901027432,
    3425901027449,
    3425900000436,
    3425901018720,
    3425901027487,
    3425901018195,
    # ELF EVOLUTION 
    3267025011375,
    3267025017650,
    3267025010606,
    3267025001406,
    3267021013236,
    3267021013229,
    3267025000836,
    # ELF MOTO 
    3267021030738,
    3267025007262,
    3267021030837,
    3267025007293,
    3267021030530,
    3267021020531,
    3267025007361,
    3267025007460,
    3267021020432,
    3267025013072,
    3267025013065,
    3267025000072,
    3011449257037,
    # EVIAN 50 CL
    3068320110783,
    # ANTI CREVAISON
    3011449014005,
    # TW A, D et E 
    3425909001007,
    3425909002011,
    3425909002943,

]
promo_ids = [str(i) for i in promo_ids]

items =items[items.ARTICLE_ID.isin(promo_ids)]
# [items.columns[:-1]]

with open("../datasets/Total/ids_mapping.json","r") as file:
    mapping = json.load(file)
items.ARTICLE_ID = items.ARTICLE_ID.astype(str).replace(mapping)
items.to_csv("../datasets/Total/promo_products.csv")

In [37]:
items

,DESCRIPTION,IDS_LIST,ARTICLE_ID
121,ACTIVA 5000 ESS 15W40,[3425901014890],3425901014890
122,ACTIVA 7000E 5L,[3425901019178],3425901019178
123,ACTIVA 9000 1L 5W40,"[3425900000962, 3425901015804]",3425900000962
124,ACTIVA 9000 5W4,[3011449262970],3011449262970
125,ACTIVA 9000 FUT,[3425901029788],3425901029788
...,...,...,...
10362,TOTAL QUARTZ 0W30 5L,[3425901029320],3425901029320
10363,TOTAL QUARTZ 10W-40 1L,[3425901019734],3425901019734
10364,TOTAL QUARTZ 9000 FUEL E,[3425901027869],3425901027869
10365,TOTAL QUARTZ E. 9000 0W30 5L,[3425901017976],3425901017976
10366,TOTAL QUARTZ IN,[3425901029290],3425901029290

In [17]:
items.to_csv("../datasets/Total/promo_products.csv")