In [1]:
import pandas as pd 
from IPython.core import display as ICD

In [2]:
file_name = "9M-5-[1-2001]-[a]-lcm.out"
links = pd.read_csv(f"../plots/links/{file_name}",)
links["user_id"] = links["user_id"].apply(lambda x : [int(i) for i in x.split(",")])
links.head()

   source  target                                            user_id
0       0     787                           [324441, 450658, 592510]
1       0     788                                           [133892]
2       0     789  [105498, 131514, 133892, 173319, 275401, 30045...
3       0     790  [131514, 157573, 171799, 250397, 252901, 25597...
4       5     790                                           [490858]

In [3]:
groups = pd.read_csv(f"../plots/groups/{file_name}",index_col=0)
groups.user_ids= groups.user_ids.apply(lambda x : [int(i) for i in x[1:-1].split()])
groups.head()

ValueError: invalid literal for int() with base 10: '...'

In [15]:
links_extra = links.merge(groups[["user_ids"]],left_on="source",right_index=True).merge(groups[["user_ids"]],left_on="target",right_index=True)
links_extra.columns = ["source","target","intersection","source_users","target_users"]
links_extra.head()

,source,target,intersection,source_users,target_users
0,3,785,[526900],"[171222, 331511, 337743, 387123, 409260, 43835...","[145422, 264552, 277744, 296455, 305419, 32252..."
2,9,785,[575459],"[280999, 353744, 575459, 581812, 1108766]","[145422, 264552, 277744, 296455, 305419, 32252..."
3,11,785,[575459],"[104790, 204037, 575459, 903174, 1166138]","[145422, 264552, 277744, 296455, 305419, 32252..."
8,20,785,"[575459, 1044697]","[267648, 355952, 400827, 425686, 575459, 72505...","[145422, 264552, 277744, 296455, 305419, 32252..."
9,21,785,"[575459, 1044697]","[104790, 204037, 280999, 314494, 331511, 35374...","[145422, 264552, 277744, 296455, 305419, 32252..."

In [16]:
def label_groups(x):
    if len(x["source_users"]) - len(x["intersection"]) <= 0.20*len(x["source_users"]):
        if len(x["source_users"]) == len(x["target_users"]):
            return "S"#'stable'
        return "G"#"grows"
    if len(x["target_users"]) == len(x["intersection"]):
        return "S"#"subset"
    return "SG"#"subset_grows"
links_extra["label"] = links_extra.apply(label_groups,axis=1)
links_extra.label.value_counts()

SG    666
G       4
Name: label, dtype: int64

In [17]:
links_extra.columns = ['source', 'target', 'user_id', 'source_users', 'target_users','label']
links_extra[["source","target","user_id","label"]].to_csv(f"plots/labeled_links/{file_name}",index=None)

In [ ]:
# ALL
for file_name in ["9M-2-[1-2001]-[a]-lcm.out"]:
    print(file_name)
    links = pd.read_csv(f"plots/links/{file_name}",)
    links["user_id"] = links["user_id"].apply(lambda x : [int(i) for i in x.split(",")])
    
    groups = pd.read_csv(f"plots/groups/{file_name}",index_col=0)
    groups.user_ids= groups.user_ids.apply(lambda x : [int(i) for i in x[1:-1].split()])

    links_extra = links.merge(groups[["user_ids"]],left_on="source",right_index=True).merge(groups[["user_ids"]],left_on="target",right_index=True)
    links_extra.columns = ["source","target","intersection","source_users","target_users"]
    links_extra["label"] = links_extra.apply(label_groups,axis=1)
    ICD.display(links_extra.label.value_counts().to_frame())

In [ ]:
groups.user_ids= groups.user_ids.apply(lambda x : [(print(i)) for i in x[1:-1].split()])