In [56]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [125]:
items = pd.read_csv("../datasets/Total/itemsDescription.csv",sep=";",encoding="latin").drop_duplicates(subset="ARTICLE_ID")

In [129]:
items.DESCRIPTION = items.DESCRIPTION.apply(lambda x : x.upper().replace('"','').strip())
items = items.groupby('DESCRIPTION')["ARTICLE_ID"].apply(list).to_frame().reset_index()
items["id"]= items.ARTICLE_ID.apply(lambda x : x[0])
items.columns = ["DESCRIPTION","IDS_LIST","ARTICLE_ID"]
items.sort_values(by="DESCRIPTION").to_csv("../datasets/Total/items.csv")

In [114]:
e = items.groupby("ARTICLE_ID")["IDS_LIST"].apply(sum).apply(set).apply(list).to_frame()

In [ ]:
101101           [101101, 3119780229697, 3119780259007, 101101]

In [84]:
items

                     DESCRIPTION         IDS_LIST     ARTICLE_ID
0           1/ BAGUETTE CLUB KAP  [3464381000276]  3464381000276
1                1/2 BAG. VIENNO  [3760049790801]  3760049790801
2     1/2 BAG. VIENNOISE X2 170G  [3760049790801]  3760049790801
3                10 GOBELETS 27C  [3700232615702]  3700232615702
4               10 GOBELETS 27CL  [3700232615702]  3700232615702
...                          ...              ...            ...
9198              ZESTES ORANGES  [5400219530308]  5400219530308
9199             ZIGOTO REGLISSE  [3103220009055]  3103220009055
9200             ZIP AMIS LUDEND  [3700300542008]  3700300542008
9201            ZIP AMIS LUDENDO  [3700300542008]  3700300542008
9202          ZIP POUPEE LAVANDE  [3453131039413]  3453131039413

[9203 rows x 3 columns]

In [63]:
cos = cosine_similarity(a)

In [68]:
# pd.DataFrame(cos,index=items.DESCRIPTION,columns=items.DESCRIPTION)
cos

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.35355339, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.35355339, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.66666667,
        0.33333333],
       [0.        , 0.        , 0.        , ..., 0.66666667, 1.        ,
        0.33333333],
       [0.        , 0.        , 0.        , ..., 0.33333333, 0.33333333,
        1.        ]])

In [38]:
ss.to_frame()

                                             0
DESCRIPTION          DESCRIPTION
DISQUE A M           DISQUE A M            1.0
LAVAGELAVE GL        LAVAGELAVE GL         1.0
LAVAGELAVE GLACE ETE LAVAGELAVE GLACE ETE  1.0
PANACHE PANACH       PANACHE PANACH        1.0
SCHWEPPES AGRU       SCHWEPPES AGRU        1.0
...                                        ...
B.E.G ACQUA MAX 61CM B.E.G ACQUA MAX       1.0
                     B.E.G ACQUA MAX 61CM  1.0
B.E.G ACQUAMAX 66CM  B.E.G ACQUAMAX 66CM   1.0
B.E.G BOSCH 450U     B.E.G BOSCH 450U      1.0
B.E.G BOSCH 480U     B.E.G BOSCH 480U      1.0

[1716 rows x 1 columns]