In [1]:
import pandas as pd

In [5]:
file_name = "9M-5-[1-2001]-[a]-lcm.out"

# Product adoption

In [148]:
links = pd.read_csv(f"../../plots/links/{file_name}")
links = links.drop(["user_id"],axis=1)
links.head()

   source  target
0       3     785
1       5     782
2       9     785
3      11     785
4      13     781

In [149]:
groups = pd.read_csv(f"../../plots/groups/{file_name}",index_col=0)
groups = groups.drop(['depth',"a","size","support",],axis=1)
groups.head()

,user_ids,itemsets,period,property_values,itemsets_name
3,[ 171222 331511 337743 387123 409260 4383...,616,2018-09-01,1,CR SANDWHICH OCEANIQUE (new); CR SANDWHICH OC
5,[ 149358 172406 498022 516505 527437 6067...,7205,2018-09-01,1,"RED BULL 355ML; RED BULL 35,5CL BTE; RED BULL ..."
9,[ 280999 353744 575459 581812 1108766],738 434,2018-09-01,1,CR COOKIE CHOCOLAT LAIT 103 GR; CR COOKIE CHOCO
11,[ 104790 204037 575459 903174 1166138],738 617,2018-09-01,1,CR COOKIE CHOCOLAT LAIT 103 GR; CR COOKIE CHOCO
13,[ 309563 552282 555107 578715 747029 9305...,6387 4268,2018-09-01,1,NaN

In [150]:
df = links.merge(groups.reset_index(),left_on="source",right_on='index').merge(groups.reset_index(),left_on="target",right_on='index')
df.head(2)

,source,target,index_x,user_ids_x,itemsets_x,period_x,property_values_x,itemsets_name_x,index_y,user_ids_y,itemsets_y,period_y,property_values_y,itemsets_name_y
0,3,785,3,[ 171222 331511 337743 387123 409260 4383...,616,2018-09-01,1,CR SANDWHICH OCEANIQUE (new); CR SANDWHICH OC,785,[ 145422 264552 277744 296455 305419 3225...,704,2018-12-01,1,CR EVIAN PET 50CL; CR EVIAN PET 50
1,9,785,9,[ 280999 353744 575459 581812 1108766],738 434,2018-09-01,1,CR COOKIE CHOCOLAT LAIT 103 GR; CR COOKIE CHOCO,785,[ 145422 264552 277744 296455 305419 3225...,704,2018-12-01,1,CR EVIAN PET 50CL; CR EVIAN PET 50

In [151]:
before_promo_period = groups.period.min()
after_promo_period = groups.period.max()
promo_period = list(set(groups.period.unique()).difference((before_promo_period,after_promo_period)))[0]
promo_period

'2018-12-01'

In [152]:
promo_items = pd.read_csv("../../datasets/Total/items.csv",encoding="latin",sep=";")
promo_list_items = promo_items.ARTICLE_ID.tolist()

In [167]:
def adoption_filter(x):
    if x["period_x"]!= before_promo_period or x["period_y"]!= promo_period:
        return set()
    p1 = x["itemsets_x"].split()
    p2 = set(x["itemsets_y"].split())
    return p2.difference(p1)
df["adopted_products"] = df.apply(adoption_filter,axis=1)

In [168]:
df[df.adopted_products!=set()]

,source,target,index_x,user_ids_x,itemsets_x,period_x,property_values_x,itemsets_name_x,index_y,user_ids_y,itemsets_y,period_y,property_values_y,itemsets_name_y,adopted_products
0,3,785,3,[ 171222 331511 337743 387123 409260 4383...,616,2018-09-01,1,CR SANDWHICH OCEANIQUE (new); CR SANDWHICH OC,785,[ 145422 264552 277744 296455 305419 3225...,704,2018-12-01,1,CR EVIAN PET 50CL; CR EVIAN PET 50,{704}
1,9,785,9,[ 280999 353744 575459 581812 1108766],738 434,2018-09-01,1,CR COOKIE CHOCOLAT LAIT 103 GR; CR COOKIE CHOCO,785,[ 145422 264552 277744 296455 305419 3225...,704,2018-12-01,1,CR EVIAN PET 50CL; CR EVIAN PET 50,{704}
2,11,785,11,[ 104790 204037 575459 903174 1166138],738 617,2018-09-01,1,CR COOKIE CHOCOLAT LAIT 103 GR; CR COOKIE CHOCO,785,[ 145422 264552 277744 296455 305419 3225...,704,2018-12-01,1,CR EVIAN PET 50CL; CR EVIAN PET 50,{704}
3,20,785,20,[ 267648 355952 400827 425686 575459 7250...,625,2018-09-01,1,Cro Hot Dog Bacon Cheese; Cro Hot Dog Bac,785,[ 145422 264552 277744 296455 305419 3225...,704,2018-12-01,1,CR EVIAN PET 50CL; CR EVIAN PET 50,{704}
4,21,785,21,[ 104790 204037 280999 314494 331511 3537...,738,2018-09-01,1,CR COOKIE CHOCOLAT LAIT 103 GR; CR COOKIE CHOCO,785,[ 145422 264552 277744 296455 305419 3225...,704,2018-12-01,1,CR EVIAN PET 50CL; CR EVIAN PET 50,{704}
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
338,377,787,377,[ 102168 111432 129033 138794 140566 1461...,4273,2018-09-01,1,LAVAGE 1 PLEIN; CODE LAVAGE MP1; LAVAGE 1 PLEI...,787,[ 153673 197039 221102 408597 508399 5842...,4213,2018-12-01,1,TOTAL ACTIVA 9000 5W40 2L; ACTIVA 9000 5W40 2L...,{4213}
339,256,788,256,[ 101937 103914 104293 105293 108938 1108...,163,2018-09-01,1,NaN,788,[ 106203 238281 396669 422847 1099947 1174443],5742,2018-12-01,1,ADBLUE 10L; ADBLUE 10L - BASH,{5742}
340,270,788,270,[ 162567 314647 389285 438350 464605 4775...,3066 163,2018-09-01,1,TOTAL ADBLUE 10L; TOTAL ADBLUE 10 L; TOTAL ADB...,788,[ 106203 238281 396669 422847 1099947 1174443],5742,2018-12-01,1,ADBLUE 10L; ADBLUE 10L - BASH,{5742}
341,274,788,274,[ 101318 104231 112387 114771 115679 1202...,3066,2018-09-01,1,TOTAL ADBLUE 10L; TOTAL ADBLUE 10 L; TOTAL ADB...,788,[ 106203 238281 396669 422847 1099947 1174443],5742,2018-12-01,1,ADBLUE 10L; ADBLUE 10L - BASH,{5742}
343,260,789,260,[ 100009 101246 101392 1179279 1182559 1187...,3080,2018-09-01,1,TW 10 LINGUETTE; TW 10 LINGETTES; TW 10 LINGET...,789,[ 254395 527838 539572 555753 1049313],3039,2018-12-01,1,TOTAL ANTI CREV; TOTAL ANTI CREV 300ML; TOTAL ...,{3039}

In [166]:
from collections import Counter
res = []
for i in adopted_products.values.tolist():
    if i ==set():
        continue
    res+= list(i)
Counter(res)

Counter({'704': 3,
         '5333': 1,
         '3066': 9,
         '2432': 1,
         '4427': 1,
         '4206': 2,
         '5742': 1})

In [187]:
def promotion_query(x,query_name):
    if x["period_x"]!= before_promo_period or x["period_y"]!= promo_period:
        return set()
    p1 = x["itemsets_x"].split()
    p2 = set(x["itemsets_y"].split())
    if query_name =="adoption":
        return p2.difference(p1)
    print("nOE UNO")
    if query_name =="loyalty:":
        print(p2.intersection(p1))
        return p2.intersection(p1)

In [188]:
df["adopted_products"] = df.apply(lambda x: promotion_query(x,"adoption"),axis=1)
df["loyalty_products"] = df.apply(lambda x: promotion_query(x,"loyalty"),axis=1)
df.head()

Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here
Here

,source,target,index_x,user_ids_x,itemsets_x,period_x,property_values_x,itemsets_name_x,index_y,user_ids_y,itemsets_y,period_y,property_values_y,itemsets_name_y,adopted_products,loyalty_products
0,3,785,3,[ 171222 331511 337743 387123 409260 4383...,616,2018-09-01,1,CR SANDWHICH OCEANIQUE (new); CR SANDWHICH OC,785,[ 145422 264552 277744 296455 305419 3225...,704,2018-12-01,1,CR EVIAN PET 50CL; CR EVIAN PET 50,{704},None
1,9,785,9,[ 280999 353744 575459 581812 1108766],738 434,2018-09-01,1,CR COOKIE CHOCOLAT LAIT 103 GR; CR COOKIE CHOCO,785,[ 145422 264552 277744 296455 305419 3225...,704,2018-12-01,1,CR EVIAN PET 50CL; CR EVIAN PET 50,{704},None
2,11,785,11,[ 104790 204037 575459 903174 1166138],738 617,2018-09-01,1,CR COOKIE CHOCOLAT LAIT 103 GR; CR COOKIE CHOCO,785,[ 145422 264552 277744 296455 305419 3225...,704,2018-12-01,1,CR EVIAN PET 50CL; CR EVIAN PET 50,{704},None
3,20,785,20,[ 267648 355952 400827 425686 575459 7250...,625,2018-09-01,1,Cro Hot Dog Bacon Cheese; Cro Hot Dog Bac,785,[ 145422 264552 277744 296455 305419 3225...,704,2018-12-01,1,CR EVIAN PET 50CL; CR EVIAN PET 50,{704},None
4,21,785,21,[ 104790 204037 280999 314494 331511 3537...,738,2018-09-01,1,CR COOKIE CHOCOLAT LAIT 103 GR; CR COOKIE CHOCO,785,[ 145422 264552 277744 296455 305419 3225...,704,2018-12-01,1,CR EVIAN PET 50CL; CR EVIAN PET 50,{704},None

In [184]:
df.apply(lambda x: promotion_query(x,"loyalty"),axis=1)

0      None
1      None
2      None
3      None
4      None
       ...
665      {}
666      {}
667      {}
668      {}
669      {}
Length: 670, dtype: object