In [1]:
from collections import Counter
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from ast import literal_eval
import json

In [2]:
file_name = "9M-5-[1-2001]-[a]-lcm.out"
output_file = f"queries_results/python_{file_name.replace('out','csv')}"

In [61]:
encoder = LabelEncoder()
encoder.classes_ = np.load(f'../../plots/encoders/{file_name}.npy')

def partial_df():
    # Groupes over two periods only
    links = pd.read_csv(f"../../plots/links/{file_name}")
    links["user_id"] = links["user_id"].apply(lambda x : x.split()).apply(set)
    groups = pd.read_csv(f"../../plots/groups/{file_name}",index_col=0)
    groups.drop(["itemset_name","property_values"],axis=1,inplace=True)
    groups = groups.drop(['depth',"a","size","support",],axis=1)
    groups["itemsets"] = groups["itemsets"].apply(lambda x :set(encoder.inverse_transform([int(i) for i in x.split()])))
    groups["user_ids"] =  groups["user_ids"].apply(literal_eval)
    return links.merge(groups.reset_index(),left_on="source",right_on='index').merge(groups.reset_index(),left_on="target",right_on='index')

def full_df():
    # Groups over three periods only
    links = pd.read_csv(f"../../plots/links/{file_name}")
    links["user_id"] = links["user_id"].apply(lambda x : x.split()).apply(set)
    groups = pd.read_csv(f"../../plots/groups/{file_name}",index_col=0)
    groups.drop(["itemset_name","property_values"],axis=1,inplace=True)
    groups = groups.drop(['depth',"a","size","support",],axis=1)
    groups["itemsets"] = groups["itemsets"].apply(lambda x :set(encoder.inverse_transform([int(i) for i in x.split()])))
    groups["user_ids"] =  groups["user_ids"].apply(literal_eval).apply(set)
    
    groups = groups.reset_index() 
    links = links.merge(links,left_on="target",right_on="source")
    links = links.merge(groups[["itemsets","index"]],left_on="source_x",right_on="index")
    links = links.merge(groups[["itemsets","index"]],left_on="target_x",right_on="index")
    links = links.merge(groups[["itemsets","index"]],left_on="target_y",right_on="index")
    links.drop(["source_y","index","index_x","index_y"],axis=1,inplace=True)
    links = links.rename(columns={"itemsets":"itemsets_z","target_y":"target_z"})
    links["user_id_z"] = links.apply(lambda x : list(x["user_id_x"].intersection(x["user_id_y"])),axis=1)
    links = links[links.user_id_z.apply(len)>0]
    return links

def promotion_query(x,query_name):
    if x["period_x"] == before_promo_period and x["period_y"]== promo_period: # _x => T-1 , _y => T 
        if query_name =="adoption":
            return x["itemsets_y"].difference(x["itemsets_x"])
        if query_name =="loyalty1":
            return x["itemsets_y"].intersection(x["itemsets_x"])
    if x["period_x"]== promo_period and x["period_y"]== after_promo_period: # _x => T , _y => T+1 
        if query_name =="loyalty2":
            return x["itemsets_y"].intersection(x["itemsets_x"])
    return set()

with open("../../datasets/Total/ids_mapping.json","r") as file:
    mapping = json.load(file)

# Product adoption & Loyalty

In [4]:
df = partial_df()

In [5]:
df.shape

(569, 11)

T-1, T and T+1

In [6]:
before_promo_period = df.period_x.min()
after_promo_period = df.period_y.max()
promo_period = list(set(df.period_x.unique()).difference((before_promo_period,after_promo_period)))[0]
print(f"T-1 : {before_promo_period}")
print(f"T : {promo_period}")
print(f"T+1 : {after_promo_period}")

T-1 : 2018-09-01
T : 2018-12-01
T+1 : 2019-02-01

# Queries execution

In [7]:
%timeit df["adopted_products"] = df.apply(lambda x: promotion_query(x,"adoption"),axis=1)

18 ms ± 436 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [8]:
%timeit df["loyalty1"] = df.apply(lambda x: promotion_query(x,"loyalty1"),axis=1)

17.6 ms ± 199 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [9]:
%timeit df["loyalty2"] = df.apply(lambda x: promotion_query(x,"loyalty2"),axis=1)

19.9 ms ± 600 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [10]:
df.to_csv(output_file)

In [11]:
items = pd.read_csv("../../datasets/Total/items.csv",index_col=0)
items.ARTICLE_ID.astype(str).replace(mapping,inplace=True)
items.drop(["IDS_LIST"],axis=1,inplace=True)
items.set_index("ARTICLE_ID",inplace=True)

items["adoption_counts"]=0
items["loyalty1_counts"]=0
items["loyalty2_counts"]=0


adoption_counts,loyalty1_counts,loyalty2_counts= [],[],[]
for i,j,k in zip(df.adopted_products.values.tolist(),df.loyalty1.values.tolist(),df.loyalty2.values.tolist()):
    if i!=set():
        adoption_counts+= list(i) 
    if j!=set():
        loyalty1_counts += list(j)
    if k!=set():
        loyalty2_counts += list(k)
adoption_counts, loyalty1_counts,loyalty2_counts = Counter(adoption_counts),Counter(loyalty1_counts),Counter(loyalty2_counts)


for i in adoption_counts:
    items.loc[int(i),"adoption_counts"] = adoption_counts[i]
for j in loyalty1_counts:
    items.loc[int(j),'loyalty1_counts'] = loyalty1_counts[j]
for j in loyalty2_counts:
    items.loc[int(j),'loyalty2_counts'] = loyalty2_counts[j]
    
items = items.sort_values(by=items.columns[-2:].tolist(),ascending=False)
items

,DESCRIPTION,adoption_counts,loyalty1_counts,loyalty2_counts
ARTICLE_ID,,,,
3425909001007,RECHARGE LAVAGE TW - A,96,21,29
3425909002011,RECHARGE LAVAGE TW - D,91,7,11
3425901018140,BIDON AD BLUE 10L,28,2,2
3425901028170,QUARTZ IN LG LIFE 5W30,15,0,1
3019081236250,1 6 RILLETTES THON 125G,0,0,0
...,...,...,...,...
3700619604725,ZIGOH DESO FLEUR FUSHIA,0,0,0
3103220009055,ZIGOTO REGLISSE,0,0,0
3700300542008,ZIP AMIS LUDENDO,0,0,0
3453131039413,ZIP POUPEE LAVANDE,0,0,0
5900343003148,ZUBROWKA VODKA,0,0,0

In [75]:
df = full_df()

In [76]:
df["loyalty"] = df.apply(lambda x :x["itemsets_x"].intersection(x["itemsets_y"].intersection(x["itemsets_z"])),axis=1)

In [77]:
df["promo_exclusive_products"] = df.apply(lambda x : x["itemsets_y"].difference(x["itemsets_x"]).difference(x["itemsets_z"]),axis=1)

In [78]:
df["replacement"] = df.apply(lambda x : x["itemsets_x"].intersection(x["itemsets_y"]).difference(x["itemsets_z"]),axis=1)

In [79]:
def extract_stats(x,items,columns):
    for i in columns:
        for j in x[i]:
            items.loc[j,i] += 1
columns = ["loyalty","promo_exclusive_products","replacement"]
for i in columns:
    items[i] = 0 
e = df.apply(lambda x : extract_stats(x,items,columns),axis=1)

In [83]:
promo_products = pd.read_csv("../../datasets/Total/promo_products.csv").ARTICLE_ID.unique()
items.loc[promo_products].sort_values(by=columns,ascending=False).head(10)

,DESCRIPTION,adoption_counts,loyalty1_counts,loyalty2_counts,loyalty,promo_exclusive_products,replacement
ARTICLE_ID,,,,,,,
3425909002011,RECHARGE LAVAGE TW - D,91,7,11,0,383,8
3425901018720,TOTAL ACTIVA 9000 5W40 2L,15,0,0,0,120,0
3425901028170,QUARTZ IN LG LIFE 5W30,15,0,1,0,77,0
3425909001007,RECHARGE LAVAGE TW - A,96,21,29,0,61,1
3425901018140,BIDON AD BLUE 10L,28,2,2,0,27,0
3425901014890,ACTIVA 5000 ESS 15W40,0,0,0,0,0,0
3425901019178,ACTIVA 7000E 5L,0,0,0,0,0,0
3425900000962,ACTIVA 9000 1L 5W40,0,0,0,0,0,0
3011449262970,ACTIVA 9000 5W4,0,0,0,0,0,0
3425901029788,ACTIVA 9000 FUT,0,0,0,0,0,0

In [91]:
res= []
df.user_id_z = df.apply (lambda x : [i for i in list(x["user_id_x"].intersection(x["user_id_y"]))[0].split(',')],axis=1)
df.apply(lambda x : [res.append(i) for i in list(x["user_id_x"].intersection(x["user_id_y"]))[0].split(',')],axis=1)

10       [None]
12       [None]
15       [None]
36       [None]
37       [None]
          ...
28334    [None]
28335    [None]
28336    [None]
28337    [None]
28338    [None]
Length: 680, dtype: object

In [107]:
users = pd.DataFrame(set(res),columns=["CUST_ID"])
users = users.set_index("CUST_ID")
users

Empty DataFrame
Columns: []
Index: [156096, 496860, 199984, 410397, 445207, 1170991, 596052, 101105, 191426, 1139056, 130464, 252901, 516711, 717621, 470752, 480899, 1030310, 955102, 622174, 1163690, 277935, 480255, 350965, 869865, 447321, 163869, 150303, 302709, 1032078, 348948, 484507, 404347, 794248, 477520, 407466, 163934, 579353, 365174, 441047, 230856, 1157557]

In [115]:
for i in columns:
    users[i]= users[i].apply(lambda x : set())

In [148]:
def extract_stat_by_user(x,items,columns):
    if x["user_id_z"]== [None]:
        return 
    for i in columns:
        for j in x["user_id_z"]:
            description = [items.loc[z,"DESCRIPTION"] for z in x[i] if z in items.index ]
            [items.loc[j,i].add(z) for z in description] 
e = df.apply(lambda x : extract_stat_by_user(x,users,columns),axis=1)

In [149]:
3425909002011 in items.index

True

In [150]:
user

,DESCRIPTION,adoption_counts,loyalty1_counts,loyalty2_counts,loyalty,promo_exclusive_products,replacement
ARTICLE_ID,,,,,,,
3425909001007,RECHARGE LAVAGE TW - A,96,21,29,0,61,1
3425909002011,RECHARGE LAVAGE TW - D,91,7,11,0,383,8
3425901018140,BIDON AD BLUE 10L,28,2,2,0,27,0
3425901028170,QUARTZ IN LG LIFE 5W30,15,0,1,0,77,0
3019081236250,1 6 RILLETTES THON 125G,0,0,0,0,0,0
...,...,...,...,...,...,...,...
3700619604725,ZIGOH DESO FLEUR FUSHIA,0,0,0,0,0,0
3103220009055,ZIGOTO REGLISSE,0,0,0,0,0,0
3700300542008,ZIP AMIS LUDENDO,0,0,0,0,0,0
3453131039413,ZIP POUPEE LAVANDE,0,0,0,0,0,0
5900343003148,ZUBROWKA VODKA,0,0,0,0,0,0